﻿@model List<Business.Take_Off_VolumnEXT>

@{
    ViewBag.Title = "Take_Off_Volume";
}

    @{Html.RenderPartial("_Search", new Business.Take_Off_VolumnSE());}

<div id='loadingmessage' style='display:none; text-align: -webkit-center;'>
    <img src="~/Images/process.gif" />
</div>

<div id="listtakeoffvolume" style="margin-top:1%">
    @{Html.RenderPartial("_List",Model);}
</div>
