﻿@model Report.Models.RequirementSetModel

@{
    Layout = null;
    List<Business.Brand> brand = ViewBag.brand;
}

<div class="modal-dialog" role="document">
    <div class="modal-content">
        <div class="modal-header" style="background-color:#10522B">
            <h5 class="modal-title" id="exampleModalLabel" style="color: white">CHI TIẾT YÊU CẦU</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close" id="close-modal">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="modal-body">
            @{if (Model != null)
            {<span>Siêu Thị : <h3> @Model.outlet_Current_Set.Select(p => p.Outlet.OutletName).FirstOrDefault().ToString()</h3></span>
                <table class="table table-striped">
                    <thead>
                    <th style="width:300px"></th>
                    @foreach (var item in brand)
                    {
                        <th style="color: green; font-weight: 600; width: 150px">@item.BrandName</th>
                    }
                    </thead>
                    <tbody>
                        <tr>
                            <td>
                                Set Quà Đang SD
                            </td>
                            @foreach (var item in brand)
                            {
                                if (Model.outlet_Current_Set.Where(p => p.Brand_Set.BrandID == item.ID).Count() > 0 && Model.outlet_Current_Set != null)
                                {
                                    <td>
                                        @Model.outlet_Current_Set.Where(p => p.Brand_Set.BrandID == item.ID).Select(p => p.Brand_Set.SetName).FirstOrDefault().ToString()
                                    </td>
                                }
                                else
                                {
                                    <td></td>
                                }
                            }
                        </tr>
                        <tr>
                            <td rowspan="2">
                                Set Quà Yêu Cầu BS
                            </td>

                            @foreach (var item in brand)
                            {
                                //Nếu tồn tại brand và k null
                                if (Model.warehouse_Requirement_Set_Detail.Where(p => p.Brand_Set.BrandID == item.ID).Count() > 0 && Model.warehouse_Requirement_Set_Detail != null)
                                {
                                    var list = Model.warehouse_Requirement_Set_Detail.Where(p => p.Brand_Set.BrandID == item.ID);
                                    <td>
                                        @foreach (var x in list)
                                        {
                                            <div class="row">
                                                <div class="col-md-6">@x.Brand_Set.SetName</div>
                                                <div class="col-md-6" style="color:red">@x.Number</div>
                                            </div>
                                        }
                                    </td>
                                }
                                else
                                {
                                    <td></td>

                                }
                            }


                        </tr>

                    </tbody>

                </table>
            }
            else
            {
                <h4 style="color:red">Không có data</h4>
            }
            }
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal" id="close-modal">ĐÓNG</button>
            </div>
        </div>
    </div>
</div>
