﻿@model List<Business.View_Warehouse_Request>
@{    
    ViewBag.Title = "Yêu Cầu Giao Hàng";
    Layout = "~/Views/Shared/_ProfileLayout.cshtml";
}

<div>
    @{Html.RenderPartial("_Search", new Business.RequirementSetSE());}
</div>
<div id='loadingmessage' style='display:none; text-align: -webkit-center;'>
    <img src="~/Images/process.gif" class="loader" />
</div>
<div id="listrequirementset">
    @{Html.RenderPartial("_List", Model);}
</div>
