﻿@model Report.Models.NotificationModel
<div class="m-content">

    <div class="row">
        <div class="col-md-12">
            <div class="m-portlet m-portlet--mobile" style="border-radius:10px">
                <div class="m-portlet__head" style="background-color: #10522B; border-radius: 10px 10px 0px 0px;border:2px solid white">
                    <div class="m-portlet__head-caption">
                        <div class="m-portlet__head-title">
                            <h3 class="m-portlet__head-text" style="color:white">
                                Nội Dung Thông Báo
                            </h3>
                        </div>
                    </div>
                </div>
                <form class="m-form m-form--fit m-form--label-align-right">
                    <div class="m-portlet__body">
                        <div class="form-group m-form__group">
                            @Html.LabelFor(m => m.NotificationTitle)
                            @Html.TextBoxFor(m => m.NotificationTitle, new { @class = "form-control m-input" })
                        </div>
                        <div class="form-group m-form__group">
                            @Html.LabelFor(m => m.NotificationContent)
                            @Html.TextAreaFor(m => m.NotificationContent, new { @class = "form-control m-input" })
                        </div>

                        <div class="form-group m-form__group">
                            @Html.LabelFor(m => m.RegionAttendance)
                            @Html.DisplayFor(m => m.RegionAttendance)
                        </div>

                        <div class="form-group m-form__group">
                            @Html.LabelFor(m => m.OutletNotification)
                            @Html.DisplayFor(m => m.OutletNotification)
                        </div>
                    </div>
                    <div class="m-portlet__foot m-portlet__foot--fit">
                        <div class="m-form__actions">
                            <button type="button" style="background-color: #10522B;color:white" class="btn btn-success" onclick="btnClick()">Lưu</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<script>

    function btnClick() {
        debugger;
        var _regionAttendance = $("#RegionAttendance option:selected").text();
        var Title = $("#NotificationTitle").val();
        var Description = $("#NotificationContent").val();
        var _listoutlet = $("#OutletNotification").val();
        var _outlet = [];
        for (var i = 0; i < _listoutlet.length; i++) {
            // And stick the checked ones onto an array...
            
            _outlet.push(_listoutlet[i]);
        }
        if (Title == "" || Description == "") {
            alert("Vui Lòng Điền Đầy Đủ Thông Tin Cần Thông Báo!");
            return false;
        }
        else
            $('#loading').css("display", "block");
        $.ajax({
            url: "@Url.Action("AddNew", "Notification")",
            type: 'GET',
            data: {_regionAttendance:_regionAttendance, Title: Title, Description: Description, _listoutlet: _outlet.join('|') },
            contentType: 'application/json; charset=utf-8',
            datatype: 'html',
            success: function (result) {
                debugger; if (result.ok == false) {
                    window.location = result.newurl;
                }
                else {
                    $("#NotificationTitle").val('');
                    $("#NotificationContent").val('');
                    $('#listnotification').html(result);
                    $('#loading').css("display", "none");
                }
            }
        });
    }
</script>

