﻿@model Business.Notification
@{
    ViewBag.Title = "Nội Dung Thông Báo";
    string id = ViewBag.NotificationID;
}

<div class="modal-dialog" role="document">
    <div class="modal-content">
        <div class="modal-header" style="background-color:green">
            <h5 class="modal-title" id="exampleModalLabel" style="color: white">CHỈNH SỬA THÔNG BÁO</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close" id="close-modal">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="modal-body">
            @if (Model.NotificationTitle != null)
            {
                <div class="row" style="background-color: #10522b; color: white">
                    <p>Tiêu Đề</p>
                </div>

                <div class="row" style="background-color: #949599; color:white">
                    <textarea name="_titlenotification" id="_titlenotification" style="width:100%">@Model.NotificationTitle</textarea>
                </div>
                <div class="row" style="background-color: #10522b; color: white">
                    <p>Nội Dung</p>
                </div>

                <div class="row" style="background-color: #949599; color:white">
                    <textarea name="_contentnotification" id="_contentnotification" style="width:100%">@Model.NotificationContent</textarea>
                </div>

            }
        </div>
            <div class="modal-footer">
                <button type="button" style="background-color: #10522B;color:white" data-dismiss="modal" id="close-modal">HỦY</button>
                <button type="button" style="background-color: #10522B;color:white" id="close-modal" onclick="UpdateNotification()">XÁC NHẬN</button>
            </div>
        </div>
    </div>

    <script>
        // Call as

        function UpdateNotification(_ProfileID) {
            debugger;
            var _title = $("#_titlenotification").val();
            var _content = $("#_contentnotification").val();
            if (_content != "" && _title!="") {

                $('#myModal').modal('hide');
                $('#loadingmessage').show();
                $.ajax({
                    url: "@Url.Action("UpdateDetail", "Notification")",
                    type: 'GET',
                    data: { _content: _content, _idnotification: '@id', _title: _title },
                    contentType: 'application/json; charset=utf-8',
                    datatype: 'html',
                    success: function (result) {
                        if (result.ok == false) {
                            window.location = result.newurl;
                        }
                        else {
                            debugger;
                            $('#listnotification').html(result);
                            $('#loadingmessage').hide();
                        }

                    }
                });
            }
            else {
                alert("Vui Lòng Nhập Đầy Đủ Thông Tin Trước Khi Lưu!")
            }

        }
    </script>
