﻿@model  List<Business.IslandEXT>
@{
    ViewBag.Title = "Island";
    var user = ViewBag.UserRole;
}

<div class="m-content" style="padding-top:0px;border-radius:10px">
    <div class="m-portlet m-portlet--mobile" style="border-radius:10px">
        <div class="m-portlet__head" style="background-color: #10522B; border-radius: 10px 10px 0px 0px;border:2px solid white"> 
            <div class="m-portlet__head-caption">
                <div class="m-portlet__head-title">
                    <h3 class="m-portlet__head-text" style="color:white">
                       Báo Cáo Ụ Kệ
                    </h3>
                </div>
            </div>
        </div>
        <div class="m-portlet__body" style="overflow:auto">
            <table class="table table-striped new" id="m_table_island">
                <thead style="background-color: #10522B; color: white; text-align: center">
                    <tr><th rowspan="2" style="border: 1px solid #eee">Ngày</th>
                        <th rowspan="2" style="border: 1px solid #eee">Vùng</th>
                        <th rowspan="2" style="border: 1px solid #eee">Siêu Thị</th>
                        <th rowspan="2" style="border: 1px solid #eee">Nhà Máy Bia</th>
                        <th rowspan="2" style="border: 1px solid #eee">Nhãn Hàng</th>
                        <th colspan="1" style="border: 1px solid #eee">Ngoài Siêu Thị</th>
                        <th colspan="3" style="border: 1px solid #eee">Trong Siêu Thị</th>
                    </tr>
                    <tr class="active">
                        <th style="border: 1px solid #eee">Cột</th>
                        <th style="border: 1px solid #eee">Cột</th>
                        <th style="border: 1px solid #eee">Pallet</th>
                    </tr>
                </thead>
                <tbody style="color:white">
                    @{ foreach (var item in Model)
                     {
                        <tr>
                            <td>@item.DateTimeDevice.Date.ToString("dd/MM/yyyy")</td>
                            <td>@item.RegionName</td>
                            <td>@item.OutLetName</td>
                            <td>@item.BreweryName</td>
                            <td>@item.BrandName</td>
                            <td>@item.Outside</td>
                            <td>@item.Column</td>
                            <td>@item.Pallet</td>
                        </tr>
                     }
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>
<script>
    var table = $('#m_table_island').DataTable({ "ordering": false });
</script>
@if (user != "SupWeb")
    {
<div style="float: right; margin-top: 1%">
    @using (Html.BeginForm("ExportExcel", "ReportIsland"))
    {
        <button type="submit" style="background-image: url(./Images/excel.png); background-size: cover; width: 40px; height: 40px"></button>
    }
</div>
}

