﻿@{
    List<DateTime> date = ViewBag.countdate;
}
<div class="m-content" style="padding-top: 0px; border-radius: 10px; color: #10522B; padding-left: 30px!important;">
    Chọn Ngày Thống Kê <br />
    @{
        var culture = new System.Globalization.CultureInfo("vi-VN");
        foreach (var i in date)
        {
            <label class="m-checkbox m-checkbox--focus" style="color:#0b8dd9;margin-left:10px;margin-bottom:5px">
                <input type="checkbox" name="theGroup1" id="@i.Date.ToString("dd/MM/yyyy")" style="margin-left:15px" />
                @culture.DateTimeFormat.GetDayName(i.DayOfWeek)
                <span></span>
            </label>
        }

    }
</div>

