﻿@model Business.StockReportSE

<div class="m-content">
    <div class="row">
        <div class="col-md-12">
            <div class="m-portlet m-portlet--mobile" style="border-radius:10px">
                <div class="m-portlet__head" style="background-color: #10522B; border-radius: 10px 10px 0px 0px;border:2px solid white">
                    <div class="m-portlet__head-caption">
                        <div class="m-portlet__head-title">
                            <h3 class="m-portlet__head-text" style="color:white">
                                Nội Dung Tìm Kiếm
                            </h3>
                        </div>
                    </div>
                </div>
                <form class="m-form m-form--fit m-form--label-align-right">
                    <div class="m-portlet__body">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group m-form__group" style="padding-bottom: 0px!important">
                                    @Html.LabelFor(m => m.DateStockTSE)
                                    @Html.TextBoxFor(m => m.DateStockTSE, "{0:dd/MM/yyyy}", new { style = "width:100%" })
                                </div>
                                <div class="form-group m-form__group" style="padding-bottom: 0px!important">
                                    @Html.LabelFor(m => m.SaleReportSE)
                                    @Html.DisplayFor(m => m.SaleReportSE)
                                </div>
                            </div>
                            <div class="col-md-6" style="margin-top: 0px!important;">
                                <div class="form-group m-form__group" style="padding-bottom: 0px!important">
                                    @Html.LabelFor(m => m.RegionStockReportSE)
                                    @Html.DisplayFor(m => m.RegionStockReportSE)
                                </div>
                                <div class="form-group m-form__group">
                                    @Html.LabelFor(m =>m.DistrictAttendance)
                                    @Html.DisplayFor(m => m.DistrictAttendance)
                                </div>
                            </div>
                        </div>
                        <div class="row" style="margin-top:20px">
                            <div class="col-md-6">
                                <div class="form-group m-form__group">
                                    @Html.LabelFor(m => m.StatusStockReportSE)
                                    @Html.DisplayFor(m => m.StatusStockReportSE)
                                </div>
                                <div class="form-group m-form__group">
                                    @Html.LabelFor(m => m.OOS)
                                    @Html.DisplayFor(m => m.OOS)
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group m-form__group">
                                    @Html.LabelFor(m => m.OutletStockReportSE)
                                    @Html.DisplayFor(m => m.OutletStockReportSE)
                                </div>
                            </div>
                        </div>
                        <div class="row" id="_dt">
                            @{Html.RenderPartial("_Date");}
                        </div>
                    </div>
                    <div class="m-portlet__foot m-portlet__foot--fit">
                        <div class="m-form__actions">
                            <button type="button" style="background-color: #10522B;color:white" class="btn btn-success" onclick="SearchStockReport()">Tìm Kiếm</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<script>
    $("#DateStockFSE").datepicker({
        changeMonth: true,
        changeYear: true,
        dateFormat: 'dd/mm/yy'
    });
    $("#DateStockTSE").datepicker({
        changeMonth: true,
        changeYear: true,
        dateFormat: 'dd/mm/yy'
    });
</script>
<script>
    $("#DistrictAttendance").change(function () {
        var selectedId = $("#DistrictAttendance").val();
        $.ajax({
            url: "@Url.Action("GetOutletForDistrict")",
            type: 'GET',
        data: { _DistrictID: selectedId},
        contentType: 'application/json; charset=utf-8',
        success: function (teamdailyse) {
            debugger; if (teamdailyse.ok == false) {
                window.location = teamdailyse.newurl;
            } else {
                $('#OutletStockReportSE option').remove();
                for (var i = 0; i < teamdailyse.length; i++) {
                    $("#OutletStockReportSE").append("<option value=" + " " + teamdailyse[i].ID + " " + ">" + teamdailyse[i].Text + "</option>");
                    $('#OutletStockReportSE').trigger("chosen:updated");
                }
            }
        }
    });
    });

    $("#DateStockTSE").change(function () {
        var selectedId = $("#DateStockTSE").val();
        $.ajax({
            url: "@Url.Action("GetDateInWeekInDateF")",
            type: 'GET',
        data: { _dateF: selectedId },
        contentType: 'application/json; charset=utf-8',
        success: function (teamdailyse) {
            debugger; if (teamdailyse.ok == false) {
                window.location = teamdailyse.newurl;
            } else {
                $('#_dt').html(teamdailyse);
            }
        }
    });
    });
    $("#RegionStockReportSE").change(function () {
        var selectedId = $("#RegionStockReportSE option:selected").text();
        $.ajax({
            url: "@Url.Action("GetSaleForRegion")",
            type: 'GET',
            data: { _RegionID: selectedId },
            contentType: 'application/json; charset=utf-8',
            success: function (teamdailyse) {
                debugger; if (teamdailyse.ok == false) {
                    window.location = teamdailyse.newurl;
                } else {
                    $('#SaleReportSE option').remove();
                    for (var i = 0; i < teamdailyse.length; i++) {
                        $("#SaleReportSE").append("<option value=" + " " + teamdailyse[i].ID + " " + ">" + teamdailyse[i].Text + "</option>");
                        $('#SaleReportSE').trigger("chosen:updated");
                    }
                }
            }
        });
        $.ajax({
            url: "@Url.Action("GetDistrictForRegion")",
            type: 'GET',
        data: { _RegionID: selectedId },
        contentType: 'application/json; charset=utf-8',
        success: function (teamdailyse2) {
            debugger;
            if (teamdailyse2.ok == false) {
                window.location = teamdailyse2.newurl;
            }
            else {
                $('#DistrictAttendance option').remove();
                for (var i = 0; i < teamdailyse2.length; i++) {
                    $("#DistrictAttendance").append("<option value=" + " " + teamdailyse2[i].ID + " " + ">" + teamdailyse2[i].Text + "</option>");
                    $('#DistrictAttendance').trigger("chosen:updated");
                }
            }
        }
        });
    });

    $("#SaleReportSE").change(function () {
        var selectedId = $("#SaleReportSE option:selected").val();
        var selectedRegionId = $("#RegionStockReportSE option:selected").text();
        $.ajax({
            url: "@Url.Action("GetOutletForSale")",
            type: 'GET',
            data: { _SaleID: selectedId, _RegionID: selectedRegionId },
            contentType: 'application/json; charset=utf-8',
            success: function (teamdailyse) {
                debugger; if (teamdailyse.ok == false) {
                    window.location = teamdailyse.newurl;
                } else {
                    $('#OutletStockReportSE option').remove();
                    for (var i = 0; i < teamdailyse.length; i++) {
                        $("#OutletStockReportSE").append("<option value=" + " " + teamdailyse[i].ID + " " + ">" + teamdailyse[i].Text + "</option>");
                        $('#OutletStockReportSE').trigger("chosen:updated");
                    }
                }
            }
        });
    });
    
    var x = 0;
    function SearchStockReport() {
        var listdate = [];
        var group = document.getElementsByName('theGroup1');
        for (var i = 0; i < group.length; i++) {
            if (group[i].checked) {
                listdate += '|' + (group[i].id);
            }
        }
        debugger
        var _DistrictAttendance = $("#DistrictAttendance").val();
        var _RegionStockReportSE = $("#RegionStockReportSE option:selected").text();
        var _DateStockTSE = $("#DateStockTSE").val();
        var _OutletStockReportSE = $("#OutletStockReportSE option:selected").val();
        var _StatusStockReportSE = $("#StatusStockReportSE option:selected").val();
        var _SaleReportSE = $("#SaleReportSE option:selected").val();
        var _DateInWeek = $("#DateInWeek option:selected").val();
        var _OOS = $("#OOS option:selected").val();
        $('#loading').css("display", "block");
        $.ajax({
            url: "@Url.Action("Search", "StockManagerReportTotal")",
            type: 'GET',
            data: {_DistrictAttendance:_DistrictAttendance, _RegionStockReportSE: _RegionStockReportSE, _OutletStockReportSE: _OutletStockReportSE, _StatusStockReportSE: _StatusStockReportSE, _DateStockTSE: _DateStockTSE, _SaleReportSE: _SaleReportSE, _OOS: _OOS, listdate: listdate },
            contentType: 'application/json; charset=utf-8',
            datatype: 'html',
            success: function (result) {
                debugger; if (result.ok == false) {
                    window.location = result.newurl;
                }
                else {
                    $('#liststockreportTotal').html(result);
                    $('#loading').css("display", "none");
                }
            }
        });
    }
</script>
