﻿@model List<Business.View_AttendanceTracking>

@{
    ViewBag.Title = "Chấm Công";
    var user = ViewBag.UserRole;
}

<div class="m-content" style="padding-top:0px;border-radius:10px">
    <div class="m-portlet m-portlet--mobile" style="border-radius:10px">
        <div class="m-portlet__head" style="background-color: #10522B; border-radius: 10px 10px 0px 0px;border:2px solid white">
            <div class="m-portlet__head-caption">
                <div class="m-portlet__head-title">
                    <h3 class="m-portlet__head-text" style="color:white">
                        Danh Sách Chấm Công
                    </h3>
                </div>
            </div>
        </div>
        <div class="m-portlet__body" style="overflow:auto">
            <table class="table table-striped new" id="m_table_attendance">
                <thead style="background-color: #10522B; color: white; text-align: center">
                    <tr>
                        <th style="border:1px solid #eee">Kênh</th>
                        <th style="border:1px solid #eee">Tên Team</th>
                        <th style="border:1px solid #eee">Ngày Chấm Công</th>
                        <th style="border:1px solid #eee;width:400px">Vào</th>
                        <th style="border: 1px solid #eee; width: 400px">Ra</th>
                    </tr>
                </thead>
                <tbody style="color:black">
                    @{ foreach (var item in Model)
                     {
                        <tr>
                            <td>@item.OutletType</td>
                            <td>@item.TeamName</td>
                            <td style="font-style: italic">
                                - Date: @item.DeviceDateTime.ToString("dd/MM/yyyy")
                                <div class="row" style="margin-left: 0px!important">
                                    <small>- Number PG:<em style="color: #ff6a00;font-size:12px"> @item.NumberPGIn  PG /<span style="color:red"> @item.NumberPGTeam PG</span></em></small>
                                </div>
                                <div class="row" style="margin-left: 0px!important">
                                    <small>- Check in: <span style="color:red"> @(item.LOGIN_TIME)</span></small>
                                </div>
                                <div class="row" style="margin-left: 0px!important">
                                    <small>- Check out: <span style="color:red"> @(item.LOGOUT_TIME)</span></small>
                                </div>
                            </td>
                            @{if (item.LOGIN_TIME != null)
                            {
                                <td>
                                    <div class="control-group">
                                        <div class="row">
                                            @{
                                if (item.listin.Count() > 0)
                                {
                                    <ul>
                                        <div class="containerimage">
                                            <li><a href="#"><img src="@item.listin.FirstOrDefault().FilePath" onclick="GetListIamgeAttendance('@item.listin.FirstOrDefault().AttendanceTrackingID')" style="width:150px;height:150px" /></a></li>
                                            <div class="text-block" style="position: absolute; bottom: -170px; color: white;">
                                            </div>
                                            <p style="color:green">Tổng Số Lần Chấm Công : @item.listin.Count()</p>
                                        </div>
                                    </ul>
                                }
                                else
                                {
                                    @item.LOGIN_TIME
                                                <a class="position" style="background-color:transparent!important" href="@_MyHelper.RenderLinkForGPS(@item.LatGPS, @item.LongGPS)" target="_blank"><img src="~/Images/map.png" style="width: 25px; height: 25px; margin-left: 5%; box-sizing: border-box;" /></a>
                                }

                                            }
                                        </div>
                                    </div>
                                </td>
                            }
                            else
                            {
                                <td></td>
                            }}
                            @{if (item.LOGOUT_TIME != null)
                            {
                                <td>
                                    <div class="control-group">
                                        <div class="row">
                                            @{ if (item.listout.Count() > 0)
                                             {
                                                <ul>
                                                    <div class="containerimage">
                                                        <li><a href="#"><img src="@item.listout.FirstOrDefault().FilePath" onclick="GetListIamgeAttendance('@item.listout.FirstOrDefault().AttendanceTrackingID')" style="width:150px;height:150px" /></a></li>
                                                        <div class="text-block" style="position: absolute; bottom: -170px; color: white;">
                                                            @*<h4>
                                                                    <a class="position" style="background-color:transparent!important" href="@_MyHelper.RenderLinkForGPS(@item.listin.FirstOrDefault().LatGPS, @item.listin.FirstOrDefault().LongGPS)" target="_blank">
                                                                        <img src="~/Images/map.png" style="width: 25px; height: 25px; margin-left: 5%; box-sizing: border-box;" />
                                                                    </a>
                                                                </h4>*@
                                                        </div>
                                                        <p style="color: green">Tổng Số Lần Chấm Công : @item.listout.Count()</p>
                                                    </div>
                                                </ul>
                                             }
                                             else
                                             {
                                                @item.LOGOUT_TIME
                                                <a class="position" style="background-color:transparent!important" href="@_MyHelper.RenderLinkForGPS(@item.LatGPS, @item.LongGPS)" target="_blank"><img src="~/Images/map.png" style="width: 25px; height: 25px; margin-left: 5%; box-sizing: border-box;" /></a>
                                             }
                                            }
                                        </div>
                                    </div>
                                </td>
                            }
                            else
                            {
                                <td></td>
                            }}
                        </tr>
                     }}
                </tbody>
            </table>
        </div>
    </div>
    @if (user != "SupWeb")
    { 
    <div style="float: right; margin-top: 1%">
        @using (Html.BeginForm("ExportExcel", "Attendance"))
        {
            <button type="submit" style="background-image: url(./Images/excel.png); background-size: cover; width: 40px; height: 40px"></button>
        }
    </div>
    }
</div>

<script>
    $(function () {
        "use strict";

        $(".popup img").click(function () {
            var $src = $(this).attr("src");
            $(".show").fadeIn();
            $(".img-show img").attr("src", $src);
        });

        $("span, .overlay").click(function () {
            $(".show").fadeOut();
        });

    });
</script>
<script>
    function GetImageAttendance(filepath) {
        debugger;
        $.ajax({
            type: "GET",
            url: '@Url.Action("_Image")',
            data: { filepath: filepath },
            datatype: "image/jpg",
            success: function (data) {
                $('#myModal').empty();
                $('#myModal').append(data);
                $('#myModal').modal('show');
            }
        });
    }
    function GetListIamgeAttendance(id) {
        debugger;
        $.ajax({
            type: "GET",
            url: '@Url.Action("_ImageAttendance")',
            data: { _attendanceid: id },
            datatype: "image/jpg",
            success: function (data) {
                $('#myModal').empty();
                $('#myModal').append(data);
                $('#myModal').modal('show');
            }
        });
    }
</script>
<script>
    var table = $('#m_table_attendance').DataTable({ "ordering": false });
</script>

