﻿@model Business.AttendanceTrackingSE
<div class="m-content">
    <div class="row">
        <div class="col-md-12" >
            <div class="m-portlet m-portlet--mobile" style="border-radius:10px">
                <div class="m-portlet__head" style="background-color: #10522B; border-radius: 10px 10px 0px 0px;border:2px solid white">
                    <div class="m-portlet__head-caption">
                        <div class="m-portlet__head-title">
                            <h3 class="m-portlet__head-text" style="color:white">
                                Nội Dung Tìm Kiếm
                            </h3>
                        </div>
                    </div>
                </div>
                <form class="m-form m-form--fit m-form--label-align-right">
                    <div class="m-portlet__body">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="row">
                                    <div class="col-md-4">
                                        <div class="form-group m-form__group">
                                            @Html.LabelFor(m => m.DateFromAttendance)
                                            @Html.TextBoxFor(m => m.DateFromAttendance, "{0:dd/MM/yyyy}", new { style = "width:100%" })
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="form-group m-form__group">
                                            @Html.LabelFor(m => m.DateToAttendance)
                                            @Html.TextBoxFor(m => m.DateToAttendance, "{0:dd/MM/yyyy}", new { style = "width:100%" })
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="col-md-12" style="height:20px"></div>
                            <div class="col-md-12">
                                <div class="row">
                                    <div class="col-md-4">
                                        <div class="form-group m-form__group">
                                            @Html.LabelFor(m => m.RegionAttendance)
                                            @Html.DisplayFor(m => m.RegionAttendance)
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="form-group m-form__group">
                                            @Html.LabelFor(m => m.DistrictAttendance)
                                            @Html.DisplayFor(m => m.DistrictAttendance)
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="form-group m-form__group">
                                            @Html.LabelFor(m => m.TeamAttendance)
                                            @Html.DisplayFor(m => m.TeamAttendance)
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="m-portlet__foot m-portlet__foot--fit">
                        <div class="m-form__actions">
                            <button type="button" style="background-color: #10522B;color:white" class="btn btn-success" onclick=" searchattendance()">Tìm Kiếm</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<script>
    $("#DateFromAttendance").datepicker({
        changeMonth: true,
        changeYear: true,
        dateFormat: 'dd/mm/yy'
    });
    $("#DateToAttendance").datepicker({
        changeMonth: true,
        changeYear: true,
        dateFormat: 'dd/mm/yy'
    });
    $.validator.addMethod("validDateFromTo", function (value) {
        debugger;
        var dateto = $.datepicker.parseDate('dd/mm/yy', $("#DateFromAttendance").val());
        var datefrom = $.datepicker.parseDate('dd/mm/yy', $("#DateToAttendance").val());
        if (datefrom > dateto) {
            return false;
        }
        else
            return true;
    }, "Từ ngày phải nhỏ hơn đến ngày");
</script>
<script>
    // lấy danh sach team theo tỉnh
    $("#DistrictAttendance").change(function () {
        var selectedId = $("#DistrictAttendance").val();
        $.ajax({
            url: "@Url.Action("GetTeamForDistrict")",
            type: 'GET',
            data: { _DistrictID: selectedId },
        contentType: 'application/json; charset=utf-8',
        success: function (teamdailyse) {
            debugger;
            if (teamdailyse.ok == false) {
                window.location = teamdailyse.newurl;
            }
            else {
                $('#TeamAttendance option').remove();
                for (var i = 0; i < teamdailyse.length; i++) {
                    $("#TeamAttendance").append("<option value=" + " " + teamdailyse[i].ID + " " + ">" + teamdailyse[i].Text + "</option>");
                    $('#TeamAttendance').trigger("chosen:updated");
                }
            }
        }
        });
    });
    
    // lấy danh sách team và tỉnh theo vùng
    $("#RegionAttendance").change(function () {
        var selectedId = $("#RegionAttendance option:selected").text();
        $.ajax({
            url: "@Url.Action("GetTeamForRegion")",
            type: 'GET',
        data: { _RegionID: selectedId },
        contentType: 'application/json; charset=utf-8',
        success: function (teamdailyse) {
            debugger;
            if (teamdailyse.ok == false) {
                window.location = teamdailyse.newurl;
            }
            else {
                $('#TeamAttendance option').remove();
                for (var i = 0; i < teamdailyse.length; i++) {
                    $("#TeamAttendance").append("<option value=" + " " + teamdailyse[i].ID + " " + ">" + teamdailyse[i].Text + "</option>");
                    $('#TeamAttendance').trigger("chosen:updated");
                }
            }
        }
        });
        $.ajax({
            url: "@Url.Action("GetDistrictForRegion")",
            type: 'GET',
        data: { _RegionID: selectedId },
        contentType: 'application/json; charset=utf-8',
        success: function (teamdailyse2) {
            debugger;
            if (teamdailyse2.ok == false) {
                window.location = teamdailyse2.newurl;
            }
            else {
                $('#DistrictAttendance option').remove();
                for (var i = 0; i < teamdailyse2.length; i++) {
                    $("#DistrictAttendance").append("<option value=" + " " + teamdailyse2[i].ID + " " + ">" + teamdailyse2[i].Text + "</option>");
                    $('#DistrictAttendance').trigger("chosen:updated");
                }
            }
        }
        });
    });
    var x = 0;
    function searchattendance() {
        debugger
        var _districtAttendance = $("#DistrictAttendance").val();
        var _teamAttendance = $("#TeamAttendance").val();
        var _dateformAttendance = $("#DateFromAttendance").val();
        var _datetoAttendance = $("#DateToAttendance").val();
        var _regionAttendance = $("#RegionAttendance option:selected").text();
        $('#loading').css("display", "block");
        $.ajax({
            url: "@Url.Action("Search", "Attendance")",
            type: 'GET',
            data: {_districtAttendance: _districtAttendance, _teamAttendance: _teamAttendance, _dateformAttendance: _dateformAttendance, _datetoAttendance: _datetoAttendance, _regionAttendance: _regionAttendance },
            contentType: 'application/json; charset=utf-8',
            datatype: 'html',
            success: function (result) {
                if (result.ok == false) {
                    window.location = result.newurl;
                }
                else {
                    $('#listattendance').html(result);
                    $('#loading').css("display", "none");
                }
               
            }
        });
    }
</script>
