﻿@model List<Business.View_AttendanceTracking>

@{
    ViewBag.Title = "Chấm Công";
}

@{Html.RenderPartial("_Search", new Business.AttendanceTrackingSE());}
<div class="cssload-loader" style="display:none">Loading</div>
<div id="listattendance">
    @{Html.RenderPartial("_List", Model);}
</div>
