﻿@model WS.Models.ImageModel
@{
    ViewBag.Title = "UploadFile";
}


<h2>UploadFile</h2>
@using (Html.BeginForm("UploadFile", "UploadImage", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    <input type="file" name="file" id="upldFile" required="required" multiple="multiple" accept="jpg|png" />
    @Html.EditorForModel()
    <input type="submit" value="Upload" />
}

<script type="text/javascript">
        function check() {
            file = document.getElementById("upldFile");
            for (var i = 0; i < file.files.length; i++) {
                alert('File name: ' + file.files[i].name + '\n' + 'File size: ' + file.files[i].size + '\n' + 'File extension: ' + file.files[i].type);
            }
        }
</script>