﻿@model List<Business.View_Customer_Gift_Mega>
@{
    ViewBag.Title = "KHÁCH HÀNG TRÚNG GIẢI";
}

<div class="modal-dialog" role="document">
    <div class="modal-content">
        <div class="modal-header" style="background-color:green">
            <h5 class="modal-title" id="exampleModalLabel" style="color: white">THÔNG TIN KHÁCH HÀNG</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close" id="close-modal">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="modal-body" style="overflow:auto">
            <div class="w3-content w3-display-container" style="height: 400px; padding:0px!important">
                @{

                    if (Model.Count() > 0 || Model != null)
                    {
                        <p>
                            <i class="fa fa-check"></i>
                            Siêu Thị :<span style="color: red; font-size: large"> @Model.FirstOrDefault().OutletName</span>
                        </p>
                        foreach (var item in Model)
                        {

                            <div class="jumbotron" style="margin-bottom:0px">

                                <p>
                                    <i class="fa fa-check"></i>
                                    Mã Hóa Đơn :<span style="color: green; font-size: large"> @item.BillNumber</span>
                                </p>
                                <p>
                                    <i class="fa fa-check"></i>
                                    Tên Khách Hàng :<span style="color: green; font-size: large"> @item.CustomerName</span>
                                </p>
                                <p> SĐT : <span id="lat" style="color: green">@item.CustomerPhone</span></p>
                                <p>Giải Trúng : <span id="long" style="color:red">@item.Name</span></p>
                                <p>Thời Gian Quay Số : <span id="long" style="color: green">@item.DeviceDateTime.ToShortDateString()</span></p>
                                <p><img src="@item.Expr1" style="width:80px;height:100px" /></p>
                            </div>
                    <hr />
                        }
                    }
                }
            </div>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal" id="close-modal">Close</button>
        </div>
    </div>
</div>
