﻿@model Business.LuckyAssignSE

<div class="m-content">
    <div class="row">
        <div class="col-md-12">
            <div class="m-portlet m-portlet--mobile" style="border-radius:10px">
                <div class="m-portlet__head" style="background-color: #10522B; border-radius: 10px 10px 0px 0px;border:2px solid white">
                    <div class="m-portlet__head-caption">
                        <div class="m-portlet__head-title">
                            <h3 class="m-portlet__head-text" style="color:white">
                                Thông Tin Phân Quà
                            </h3>
                        </div>
                    </div>
                </div>
                <form class="m-form m-form--fit m-form--label-align-right">
                    <div class="m-portlet__body">
                        <div class="form-group m-form__group">
                            @Html.LabelFor(m => m.DateAssignSE)
                            @Html.TextBoxFor(m => m.DateAssignSE, "{0:dd/MM/yyyy}", new { style = "width:100%", @Value = DateTime.Now.ToString("dd/MM/yyyy") })
                        </div>
                        <div class="form-group m-form__group">
                            @Html.LabelFor(m => m.TurnSE)
                            @Html.DisplayFor(m => m.TurnSE)
                        </div>
                      
                    </div>
                    <div class="m-portlet__body">
                        <div class="form-group m-form__group">
                            @Html.LabelFor(m => m.GiftSE)
                            @Html.DisplayFor(m => m.GiftSE)
                        </div>
                        <div class="form-group m-form__group">
                            @Html.LabelFor(m => m.OutletAssignSE)
                            @Html.DisplayFor(m => m.OutletAssignSE)
                        </div>
                    </div>
                    <div class="m-portlet__foot m-portlet__foot--fit">
                        <div class="m-form__actions">
                            <button type="button" style="background-color: #10522B;color:white" class=  "btn btn-success" onclick="AddAssignGift()">Xác Nhận</button>
                            <button type="button" style="background-color: #10522B;color:white" class="btn btn-success" onclick="SearchAssignGift()">Tìm Kiếm</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript">
    jQuery(document).ready(function () {
        $(".chosen-select").chosen();
        $(".chosen-container").css("width", "100%");
        $(".chosen-container").css("height", "30px!important");
    });
</script>

<script>
    $("#DateAssignSE").datepicker({
        changeMonth: true,
        changeYear: true,
        dateFormat: 'dd/mm/yy'
    });
</script>
<script>
    $("#GiftSE").change(function () {
        debugger;
        var selectedId = $("#GiftSE").val();
        $.ajax({
            url: "@Url.Action("GetOutletNotGift")",
            type: 'GET',
            data: { _GiftID: selectedId },
            contentType: 'application/json; charset=utf-8',
            success: function (teamdailyse) {
                debugger;
                if (teamdailyse.ok == false) {
                    window.location = teamdailyse.newurl;
                }
                else {
                    $('#OutletAssignSE option').remove();
                    for (var i = 0; i < teamdailyse.length; i++) {
                        $("#OutletAssignSE").append("<option value=" + " " + teamdailyse[i].ID + " " + ">" + teamdailyse[i].Text + "</option>");
                        $('#OutletAssignSE').trigger("chosen:updated");
                    }
                }
            }
        });
    });
    $("#DateAssignSE").change(function () {
        debugger;
        var selectedId = $("#DateAssignSE").val();
        $.ajax({
            url: "@Url.Action("GetTurnFordate")",
            type: 'GET',
        data: { _date: selectedId },
        contentType: 'application/json; charset=utf-8',
        success: function (teamdailyse) {
            debugger;
            if (teamdailyse.ok == false) {
                window.location = teamdailyse.newurl;
            }
            else {
                $('#TurnSE option').remove();
                for (var i = 0; i < teamdailyse.Turn.length; i++) {
                    $("#TurnSE").append("<option value=" + " " + teamdailyse.Turn[i].ID + " " + ">" + teamdailyse.Turn[i].Text + "</option>");
                    $('#TurnSE').trigger("chosen:updated");
                }
                $('#GiftSE option').remove();
                for (var i = 0; i < teamdailyse.Gift.length; i++) {
                    $("#GiftSE").append("<option value=" + " " + teamdailyse.Gift[i].ID + " " + ">" + teamdailyse.Gift[i].Text + "</option>");
                    $('#GiftSE').trigger("chosen:updated");
                }
            }
        }
    });
    });

    function SearchAssignGift() {
        var _date = $("#DateAssignSE").val();
        var _outletassign = $("#OutletAssignSE option:selected").val();
        var _gift = $("#GiftSE option:selected").val();
        $('#loadingmessage').show();
        $.ajax({
            url: "@Url.Action("Search", "AssignGiftMega")",
            type: 'GET',
            data: { _date: _date, _outletassign: _outletassign, _gift: _gift },
            contentType: 'application/json; charset=utf-8',
            datatype: 'html',
            success: function (result) {
                debugger; if (result.ok == false) {
                    window.location = result.newurl;
                }
                else {
                    $('#listassign').html(result);
                    $('#loadingmessage').hide();
                }
            }
        });
    }
    function AddAssignGift() {
        var _date = $("#DateAssignSE").val();
        var _outletassign = $("#OutletAssignSE option:selected").val();
        var _gift = $("#GiftSE option:selected").val();
        $('#loadingmessage').show();
        if (_outletassign != "0" && _gift != "0") {
            $.ajax({
                url: "@Url.Action("AddNew", "AssignGiftMega")",
                type: 'GET',
                data: { _date: _date, _outletassign: _outletassign, _gift: _gift },
                contentType: 'application/json; charset=utf-8',
                datatype: 'html',
                success: function (result) {
                    debugger; if (result.ok == false) {
                        window.location = result.newurl;
                    }
                    else {
                        $('#assignsearch').html(result.Html[0]);
                        $('#listassign').html(result.Html[1]);
                        $('#loadingmessage').hide();
                        
                    }
                }
            });
        }
        else {
            alert("Vui Lòng Nhập Đầy Đủ Thông Tin Trước Khi Lưu!")
        }
    }
</script>
