﻿@model List<Business.StockEXT>
@{
    List<Business.Product> product = ViewBag.product;
    List<Business.Product> productdelta = ViewBag.productdelta;
    List<Business.Outlet> oulteList = ViewBag.outlets;
    int numbercolumn = @product.ToList().Count;
    bool _havestatus = ViewBag.havestatus;
    var user = ViewBag.UserRole;

}
<link href="~/Content/Site.css" rel="stylesheet" />
<div class="m-content" style="padding-top:0px;border-radius:10px">
    <div class="m-portlet m-portlet--mobile" style="border-radius:10px">
        <div class="m-portlet__head" style="background-color: #10522B; border-radius: 10px 10px 0px 0px;border:2px solid white">
            <div class="m-portlet__head-caption">
                <div class="m-portlet__head-title">
                    <h3 class="m-portlet__head-text" style="color:white">
                        Báo Cáo Tồn Kho
                    </h3>
                </div>
            </div>
        </div>
        <div class="m-portlet__body" style="overflow:auto">
            <table class="table table-striped" id="m_table_stock">
                <thead>
                    <tr class="active" style="color: white; background-color: #10522B; text-align: center;">
                        <th rowspan="3" style="border: 1px solid white; width: 100px"><div style="width: 50px">Vùng</div></th>
                        <th rowspan="3" style="border: 1px solid white; width: 100px"><div style="width: 100px">Ngày</div></th>
                        <th rowspan="3" style="border: 1px solid white; width: 200px"><div style="width: 200px">Siêu thị</div></th>
                        <th rowspan="3" style="border: 1px solid white"><div style="width: 100px">Tỉnh/Thành</div></th>
                        <th colspan="@numbercolumn" style="border: 1px solid white">Sản Phẩm</th>
                        <th rowspan="3" style="border: 1px solid white;"><div style="width: 100px">Ghi Chú</div></th>
                    </tr>
                    <tr style="color: white; background-color: #10522B; color: white; text-align: center;">
                        @{foreach (var e in product)
                        {
                            @*if (e.BrandID == 1 || e.BrandID == 2)
                            {
                                <th style="border: solid 1px white">@e.ProductName</th>
                            }
                            else
                            {*@
                                <th style="border: solid 1px white">@e.ProductName</th>
                            //}
                        }
                        }
                    </tr>
                    <tr style="color: white; background-color: white; text-align: center;">
                        @{foreach (var e in product)
                        {
                            @*if (e.BrandID == 1 || e.BrandID == 2)
                            {
                                <th style="color: black; border: solid 1px #eee"><img src="@e.FilePath" style="height: 20px; width: 40px" /></th>
                            }
                            else
                            {*@
                                <th style="color: black; border: solid 1px #eee"><img src="@e.FilePath" style="height: 20px; width: 40px" /></th>
                            //}

                        }
                        }
                    </tr>
                </thead>
                <tbody style="border: solid 1px white; width: 1300px; background-color: white;  width: 100%">
                    @{
                        if (_havestatus == true)
                        {
                            if (Model.Count() == 0)
                            {
                                oulteList = new List<Business.Outlet>();
                            }
                            else
                            {
                                oulteList = oulteList.Where(p => Model.Any(l => p.ID == int.Parse(l.OutletID))).ToList();
                            }
                        }

                        foreach (var item in oulteList)
                        {
                            string _messageError = String.Empty;
                            var simple = Model.Where(temp => int.Parse(temp.OutletID) == item.ID).ToList();
                            if (simple.Count() > 0)
                            {
                                <tr>
                                    @{
                                int number = simple.Count() + 1;
                                <td style="background-color: white; border: solid 1px #808080"> @item.Region.Type </td>
                                if (simple.FirstOrDefault().DateStock.Date == @DateTime.Now.Date)
                                {
                                    <td style="background-color: white; border: solid 1px #808080">@simple.FirstOrDefault().DateStock.ToString("dd/MM/yyyy HH:mm")</td>
                                }
                                else if (simple.FirstOrDefault().DateStock == null)
                                {
                                    <td style="background-color: white; border: solid 1px #808080"></td>
                                }
                                else
                                {
                                    <td style="background-color: white; color: red; border: solid 1px #808080">@simple.FirstOrDefault().DateStock.ToString("dd/MM/yyyy HH:mm")</td>
                                }

                                <td style="background-color: white; border: solid 1px #808080">@item.OutletName</td>
                                        <td style="background-color: white; border: solid 1px #808080"> @item.City </td>
                                for (int i = 0; i < product.Count(); i++)
                                {
                                    var _detailproduct = simple.Where(p => p.ProductID == product[i].ID);
                                    if (_detailproduct.Count() > 0)
                                    {
                                        foreach (var z in _detailproduct)
                                        {
                                            if (product[i].ProductName == z.ProductName)
                                            {
                                                if (z.StatusName == Business.Stock.StatusStock.SAFE.ToString())
                                                {
                                                    if (z.NumberSale == null)
                                                    {
                                                        <td style="border: solid 1px #808080; padding: 5px 10px; text-align: center">@z.NumberSP.ToString("N0", System.Globalization.CultureInfo.InvariantCulture)</td>
                                                    }
                                                    else
                                                    {
                                                        <td style="color: white; border: solid 1px #808080; padding: 5px 10px; background-color: green; text-align: center">@z.NumberSale.GetValueOrDefault().ToString("N0", System.Globalization.CultureInfo.InvariantCulture)</td>
                                                    }

                                                }
                                                else if (z.StatusName == Business.Stock.StatusStock.ALERT.ToString())
                                                {
                                                    if (z.NumberSale == null)
                                                    {

                                                        <td style="border: solid 1px #808080; padding: 5px 10px; text-align: center">@z.NumberSP.ToString("N0", System.Globalization.CultureInfo.InvariantCulture)</td>
                                                    }
                                                    else
                                                    {
                                                        <td style="color: black; border: solid 1px #808080; padding: 5px 10px; background-color: yellow; text-align: center">@z.NumberSale.GetValueOrDefault().ToString("N0", System.Globalization.CultureInfo.InvariantCulture)</td>
                                                    }
                                                }
                                                else if (z.StatusName == Business.Stock.StatusStock.OOS.ToString())
                                                {
                                                    if (z.NumberSale == null)
                                                    {
                                                        <td style=" border: solid 1px #808080; padding: 5px 10px; text-align: center; ">@z.NumberSP.ToString("N0", System.Globalization.CultureInfo.InvariantCulture)</td>
                                                    }
                                                    else
                                                    {
                                                        <td style="color: white; border: solid 1px #808080; padding: 5px 10px; background-color: red; text-align: center">@z.NumberSale.GetValueOrDefault().ToString("N0", System.Globalization.CultureInfo.InvariantCulture)</td>
                                                    }
                                                }
                                                else
                                                {
                                                    if (z.NumberSale == null)
                                                    {
                                                        <td style=" border: solid 1px #808080; padding: 5px 10px; text-align: center">@z.NumberSP.ToString("N0", System.Globalization.CultureInfo.InvariantCulture)</td>
                                                    }
                                                    else
                                                    {
                                                        <td style="color: white; border: solid 1px #808080; padding: 5px 10px; background-color: red; text-align: center">@z.NumberSale.GetValueOrDefault().ToString("N0", System.Globalization.CultureInfo.InvariantCulture)</td>
                                                    }
                                                }
                                            }
                                        }
                                    }
                                    else
                                    {
                                        if (product[i].IsNaN != null)
                                        {
                                            if (product[i].IsNaN.Split('|').ToList().Where(p => p == item.GroupID.ToString()).Count() > 0)
                                            {
                                                <td style="border: solid 1px #808080; padding: 5px 10px; text-align: center; background-color: gray"></td> }
                                            else
                                            {
                                                <td style="border: solid 1px #808080; padding: 5px 10px; text-align: center;"></td>
                                            }
                                        }
                                        else
                                        {
                                            <td style="border: solid 1px #808080; padding: 5px 10px; text-align: center;"></td>
                                        }
                                    }
                                }
                                <td style="background-color: white; border: solid 1px #808080; ">@simple.FirstOrDefault().Note</td>
                                    }

                                </tr>
                            }
                            else
                            {
                                <tr>
                                    <td style="background-color: white; border: solid 1px #808080">@item.Region.Type</td>
                                    <td style="background-color: white; border: solid 1px #808080"></td>
                                    <td style="background-color: white; border: solid 1px #808080">@item.OutletName</td>
                                    <td style="background-color: white; border: solid 1px #808080"> @item.City </td>
                                    @foreach (var x in product)
                                    {
                                        if (x.IsNaN != null)
                                        {
                                            if (x.IsNaN.Split('|').ToList().Where(p => p == item.GroupID.ToString()).Count() > 0)
                                            {
                                                <td style="border: solid 1px #808080;background-color:gray"></td>
                                            }
                                            else
                                            {
                                                <td style="border: solid 1px #808080"></td>
                                            }
                                        }
                                        else
                                        {
                                            <td style="border: solid 1px #808080"></td>
                                        }

                                    }
                                    <td style="background-color: white; border: solid 1px #808080"></td>
                                </tr>
                            }
                        }
                    }
                </tbody>
            </table>
        </div>
    </div>
    @if (user != "SupWeb")
    {
        <div style="float: right; margin-top: 1%">
            @using (Html.BeginForm("ExportExcel", "StockManager"))
            {
                <button type="submit" style="background-image: url(./Images/excel.png); background-size: cover; width: 40px; height: 40px"></button>
            }
        </div>
    }
</div>

<script>
    function UpdateStock(idoutlet, date) {
        debugger;
        $.ajax({
            type: "GET",
            url: '@Url.Action("_UpdateStock")',
            data: { _OutletID: idoutlet, _DateStock: date },
            success: function (data) {
                $('#myModal').empty();
                $('#myModal').append(data);
                $('#myModal').modal('show');
            }
        });
    }
</script>
<script type="text/javascript" charset="utf-8" src="http://datatables.net/release-datatables/media/js/jquery.dataTables.js"></script>
<script type="text/javascript" charset="utf-8" src="http://datatables.net/release-datatables/extras/FixedColumns/media/js/FixedColumns.js"></script>
<script>
    $(document).ready(function () {
        var iStart = new Date().getTime();
        var oTable = $('#m_table_stock').dataTable(
        {
            "sScrollY": "400px",
            "sScrollX": "100%",
            "sScrollXInner": "150%",
            "bScrollCollapse": true,
            "bPaginate": false,
            "bFilter": false,
            "ordering": false
        });
    });
</script>