﻿@model List<Business.Stock>

@{
    Layout = null;
    List<Business.Product> product = ViewBag.product;
    var user = ViewBag.UserRole;
}
<style>
    .grid-wrap {
        width: 100%;
    }

    .modal-scrollable {
        overflow-y: scroll;
    }

    .modal-scrollable {
        margin: 5%;
        position: fixed;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        overflow: auto;
    }
</style>

<div class="modal-scrollable" style="z-index: 1060;">
    <div class="modal-content" style="overflow: hidden; color: green; background-color: green;">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true" style="color: black">CLOSE</button>
            <h4 class="modal-title" style="color: red">Update Stock</h4>
        </div>
        <div class="modal-body" style="width: 100%; margin-top: 2%; overflow: auto">
            <table class="table" border="1" style="border: solid 2px green; width: 100%; overflow: auto">
                <thead>
                    <tr class="active" style="color: white;font-size:larger;background-color:green">
                        <td rowspan="1" style="height: 30px; width: 70px">Product_Name</td>
                        <td rowspan="1" style="height: 30px; width: 70px">Number SP</td>
                        <td rowspan="1" style="height: 30px; width: 70px">Number</td>>
                    </tr>
                </thead>
                <tbody style="border: solid 1px white; color: white;font-size:large; width: 100%">
                    @{
                        foreach (var item in product)
                        {
                            var temp = Model.Where(p => p.ProductID == item.ID);
                            if (temp.Count() > 0)
                            {

                                <tr>
                                    <td>@item.Name</td>
                                    <td>@temp.FirstOrDefault().NumberSP</td>
                                    <td><input type="text" id="@item.ID" name="productid" style="height: 30px; width: 70px" value="@tem.FirstOrDefault().NumberSale"/></td>
                                </tr>
                            }
                            else
                            {
                                <tr>
                                    <td>@item.ProductName</td>
                                    <td></td>
                                    <td><input type="text" id="@item.ID" name="productid" style="height: 30px; width: 70px" value="" /></td>
                                </tr>
                            }
                        }
                    }
                </tbody>
                <tfoot>
                </tfoot>
            </table>
            <button type="submit" class="btn btn-success" id="btnupdatestock" value="Lưu" onclick="UpdateStockOutlet()" style="float:right">Cập Nhật</button>

        </div>
    </div>
</div>

<script>
    function UpdateStockOutlet() {
        var extratitles = document.getElementsByName('productid');
        var strid = '';
        var strvalue = '';
        for (var i = 0; i < extratitles.length; i++) {
            strvalue += '|' + extratitles.item(i).value;
            strid += '|' + extratitles.item(i).id;
        }
        debugger;
            $('#myModal').modal('hide');
            $('#loadingmessage').show();
            $.ajax({
                url: "@Url.Action("Update", "StockManager")",
                type: 'GET',
                data: { _StockID: strid, _NumberSale: strvalue },
                contentType: 'application/json; charset=utf-8',
                datatype: 'html',
                success: function (result) {
                    debugger;
                    $('#liststocksale').html(result);
                    $('#loadingmessage').hide();

                }
            });
    }
</script>



