﻿@model List<Business.StockEXT>

@{
    ViewBag.Title = "KHO";
}

@{Html.RenderPartial("_Search", new Business.StockSE());}
<div class="m-content" style="overflow: auto; display: none">
    <div class="col-md-12">
        <table class="table" style="width: 100%">
            <tr>
                <td style="padding: 0px; border-top: none!important">
                    <table>
                        <tr>
                            <td style="color: white">GROUP 1</td>
                            <td style="color: red">OOS</td>
                            <td style="color: #ffd700">URGENT</td>
                            <td style="color: green">SAFETY</td>
                        </tr>
                        <tr>
                            <td style="color: white">Hei Regular 24s </td>
                            <td style="color: red"> 0-500</td>
                            <td style="color: #ffd700; ">501 - 1000</td>
                            <td style="color: green"> 1000</td>
                        </tr>
                        <tr>
                            <td style="color: white">Tiger regular 24s</td>
                            <td style="color: red"> 0-500</td>
                            <td style="color: #ffd700; ">501 - 1000</td>
                            <td style="color: green"> 1000</td>
                        </tr>
                        <tr>
                            <td style="color: white"> Hei Sleek 24s</td>
                            <td style="color: red"> 0-80</td>
                            <td style="color: #ffd700">81 - 120</td>
                            <td style="color: green"> > 120</td>
                        </tr>
                        <tr>
                            <td style="color: white"> Tiger Crystal 24s</td>
                            <td style="color: red"> 0-80</td>
                            <td style="color: #ffd700">81 - 120</td>
                            <td style="color: green"> > 120</td>
                        </tr>
                        <tr>
                            <td style="color: white; ">Larue Blue</td>
                            <td style="color: red"> 0-10</td>
                            <td style="color: #ffd700">11 - 15</td>
                            <td style="color: green"> >15</td>
                        </tr>
                        <tr>
                            <td style="color: white; ">Larue Special</td>
                            <td style="color: red"> 0-5</td>
                            <td style="color: #ffd700">6 - 10</td>
                            <td style="color: green"> >10</td>
                        </tr>
                        <tr>
                            <td style="color: white">Strongbow 8s </td>
                            <td style="color: red"> 0-50</td>
                            <td style="color: #ffd700">51 - 80</td>
                            <td style="color: green"> >80</td>
                        </tr>
                        <tr>
                            <td style="color: white">Strongbow 24s</td>
                            <td style="color: red"> 0-10</td>
                            <td style="color: #ffd700">11 - 15</td>
                            <td style="color: green"> >15</td>
                        </tr>
                    </table>

                </td>
                <td style="padding: 0px; border-top: none!important">
                    <table>
                        <tr>
                            <td style="color: white">GROUP 2</td>
                            <td style="color: red">OOS</td>
                            <td style="color: #ffd700">URGENT</td>
                            <td style="color: green">SAFETY</td>
                        </tr>
                        <tr>
                            <td style="color: white">Hei Regular 24s</td>
                            <td style="color: red"> 0-120</td>
                            <td style="color: #ffd700">121 - 240</td>
                            <td style="color: green"> >240</td>
                        </tr>
                        <tr>
                            <td style="color: white"> Tiger regular 24s</td>
                            <td style="color: red"> 0-120</td>
                            <td style="color: #ffd700">121 - 240</td>
                            <td style="color: green"> >240</td>
                        </tr>
                        <tr>
                            <td style="color: white"> Hei Sleek 24s</td>
                            <td style="color: red"> 0-9</td>
                            <td style="color: #ffd700">10 - 19</td>
                            <td style="color: green"> > 20</td>
                        </tr>
                        <tr>
                            <td style="color: white"> Tiger Crystal 24s</td>
                            <td style="color: red"> 0-9</td>
                            <td style="color: #ffd700">10 - 19</td>
                            <td style="color: green"> > 20</td>
                        </tr>
                        <tr>
                            <td style="color: white">Larue Blue</td>
                            <td style="color: red"> 0-5</td>
                            <td style="color: #ffd700">6 - 10</td>
                            <td style="color: green"> >10</td>
                        </tr>
                        <tr>
                            <td style="color: white">Larue Special</td>
                            <td style="color: red"> 0-5</td>
                            <td style="color: #ffd700">6 - 10</td>
                            <td style="color: green"> >10</td>
                        </tr>
                        <tr>
                            <td style="color: white; ">Strongbow 8s </td>
                            <td style="color: red"> 0-30</td>
                            <td style="color: #ffd700">31 - 50</td>
                            <td style="color: green"> >50</td>
                        </tr>
                        <tr>
                            <td style="color: white">Strongbow 24s</td>
                            <td style="color: red"> 0-5</td>
                            <td style="color: #ffd700">6 - 10</td>
                            <td style="color: green"> >10</td>
                        </tr>
                    </table>

                </td>
                <td style="padding: 0px; border-top: none!important">
                    <table>
                        <tr>
                            <td style="color: white">GROUP 3</td>
                            <td style="color: red">OOS</td>
                            <td style="color: #ffd700">URGENT</td>
                            <td style="color: green">SAFETY</td>
                        </tr>
                        <tr>
                            <td style="color: white">Hei Regular 24s</td>
                            <td style="color: red"> 0-10</td>
                            <td style="color: #ffd700; ">11 - 15</td>
                            <td style="color: green"> >15</td>
                        </tr>
                        <tr>
                            <td style="color: white">Tiger regular 24s</td>
                            <td style="color: red"> 0-10</td>
                            <td style="color: #ffd700; ">11 - 15</td>
                            <td style="color: green"> >15</td>
                        </tr>
                        <tr>
                            <td style="color: white"> Tiger Crystal 24s,Larue Blue</td>
                            <td style="color: red"> 0-5</td>
                            <td style="color: #ffd700">6 - 10</td>
                            <td style="color: green"> > 10</td>
                        </tr>
                        <tr>
                            <td style="color: white">Larue Blue</td>
                            <td style="color: red"> 0-5</td>
                            <td style="color: #ffd700">6 - 10</td>
                            <td style="color: green"> > 10</td>
                        </tr>
                    </table>
                </td>
            </tr>
        </table>
    </div>
</div>
<div id='loadingmessage' style='display:none; text-align: -webkit-center;'>
    <img src="~/Images/process.gif" class="loader"/>
</div>
<div id="liststock">
    @{Html.RenderPartial("_List", Model);}
</div>
