﻿@model List<Business.SaleVolumeEXT>

@{
    ViewBag.Title = "BÁO CÁO SẢN LƯỢNG BÁN";
}

@{Html.RenderPartial("_Search", new Business.StockSE());}

<div id='loadingmessage' style='display:none; text-align: -webkit-center;'>
    <img src="~/Images/process.gif" class="loader"  />
</div>
<div id="listReportSaleVolumeSale">
    @{Html.RenderPartial("_List", Model);}
</div>