﻿@model List<Business.StockEXT>

@{
    ViewBag.Title = "KHO";
}

@{Html.RenderPartial("_Search", new Business.StockReportSE());}
<div id='loadingmessage' style='display:none; text-align: -webkit-center;'>
    <img src="~/Images/process.gif" class="loader"/>
</div>
<div id="liststockreport">
    @{Html.RenderPartial("_List", Model);}
</div>
<script type="text/javascript" charset="utf-8" src="http://datatables.net/release-datatables/media/js/jquery.dataTables.js"></script>
<script type="text/javascript" charset="utf-8" src="http://datatables.net/release-datatables/extras/FixedColumns/media/js/FixedColumns.js"></script>
