﻿@model Business.StockSE

<div class="m-content">
    <div class="row">
        <div class="col-md-12">
            <div class="m-portlet m-portlet--mobile" style="border-radius:10px">
                <div class="m-portlet__head" style="background-color: #10522B; border-radius: 10px 10px 0px 0px;border:2px solid white">
                    <div class="m-portlet__head-caption">
                        <div class="m-portlet__head-title">
                            <h3 class="m-portlet__head-text" style="color:white">
                                Nội Dung Tìm Kiếm
                            </h3>
                        </div>
                    </div>
                </div>
                <form class="m-form m-form--fit m-form--label-align-right">
                    <div class="m-portlet__body">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group m-form__group" style="padding-bottom: 0px!important">
                                    @Html.LabelFor(m => m.DateStockSE)
                                    @Html.TextBoxFor(m => m.DateStockSE, "{0:dd/MM/yyyy}", new { style = "width:100%" })
                                </div>
                                <div class="form-group m-form__group">
                                    @Html.LabelFor(m => m.SaleSE)
                                    @Html.DisplayFor(m => m.SaleSE)
                                </div>

                            </div>
                            <div class="col-md-6" style="margin-top: 0px!important;">
                                <div class="form-group m-form__group" style="padding-bottom: 0px!important">
                                    @Html.LabelFor(m => m.RegionStockSE)
                                    @Html.DisplayFor(m => m.RegionStockSE)
                                </div>
                                <div class="form-group m-form__group">
                                    @Html.LabelFor(m => m.DistrictAttendance)
                                    @Html.DisplayFor(m => m.DistrictAttendance)
                                </div>

                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group m-form__group" style="margin-top: 15px;">
                                    @Html.LabelFor(m => m.StatusStockSE)
                                    @Html.DisplayFor(m => m.StatusStockSE)
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group m-form__group" style="margin-top: 15px;">
                                    @Html.LabelFor(m => m.OutletStockSE)
                                    @Html.DisplayFor(m => m.OutletStockSE)
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="m-portlet__foot m-portlet__foot--fit">
                        <div class="m-form__actions">
                            <button type="button" style="background-color: #10522B;color:white" class="btn btn-success" onclick="SearchStock()">Tìm Kiếm</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<script>
    $("#DateStockSE").datepicker({
        changeMonth: true,
        changeYear: true,
        dateFormat: 'dd/mm/yy'
    });
</script>
<script>
    $("#DistrictAttendance").change(function () {
        var selectedId = $("#DistrictAttendance").val();
        $.ajax({
            url: "@Url.Action("GetOutletForDistrict")",
            type: 'GET',
        data: { _DistrictID: selectedId},
        contentType: 'application/json; charset=utf-8',
        success: function (teamdailyse) {
            debugger; if (teamdailyse.ok == false) {
                window.location = teamdailyse.newurl;
            } else {
                $('#OutletStockSE option').remove();
                for (var i = 0; i < teamdailyse.length; i++) {
                    $("#OutletStockSE").append("<option value=" + " " + teamdailyse[i].ID + " " + ">" + teamdailyse[i].Text + "</option>");
                    $('#OutletStockSE').trigger("chosen:updated");
                }
            }
        }
    });
    });
        $("#RegionStockSE").change(function () {
        var selectedId = $("#RegionStockSE option:selected").text();
        $.ajax({
            url: "@Url.Action("GetSaleForRegion")",
            type: 'GET',
            data: { _RegionID: selectedId },
            contentType: 'application/json; charset=utf-8',
            success: function (teamdailyse) {
                debugger; if (teamdailyse.ok == false) {
                    window.location = teamdailyse.newurl;
                } else {
                    $('#SaleSE option').remove();
                    for (var i = 0; i < teamdailyse.length; i++) {
                        $("#SaleSE").append("<option value=" + " " + teamdailyse[i].ID + " " + ">" + teamdailyse[i].Text + "</option>");
                        $('#SaleSE').trigger("chosen:updated");
                    }
                }
            }
        });
            $.ajax({
                url: "@Url.Action("GetDistrictForRegion")",
                type: 'GET',
            data: { _RegionID: selectedId },
            contentType: 'application/json; charset=utf-8',
            success: function (teamdailyse2) {
                debugger;
                if (teamdailyse2.ok == false) {
                    window.location = teamdailyse2.newurl;
                }
                else {
                    $('#DistrictAttendance option').remove();
                    for (var i = 0; i < teamdailyse2.length; i++) {
                        $("#DistrictAttendance").append("<option value=" + " " + teamdailyse2[i].ID + " " + ">" + teamdailyse2[i].Text + "</option>");
                        $('#DistrictAttendance').trigger("chosen:updated");
                    }
                }
            }
        });
    });

    $("#SaleSE").change(function () {
        var selectedId = $("#SaleSE option:selected").val();
        var selectedRegionId = $("#RegionStockSE option:selected").text();
        $.ajax({
            url: "@Url.Action("GetOutletForSale")",
            type: 'GET',
            data: { _SaleID: selectedId, _RegionID: selectedRegionId },
        contentType: 'application/json; charset=utf-8',
        success: function (teamdailyse) {
            debugger; if (teamdailyse.ok == false) {
                window.location = teamdailyse.newurl;
            } else {
                $('#OutletStockSE option').remove();
                for (var i = 0; i < teamdailyse.length; i++) {
                    $("#OutletStockSE").append("<option value=" + " " + teamdailyse[i].ID + " " + ">" + teamdailyse[i].Text + "</option>");
                    $('#OutletStockSE').trigger("chosen:updated");
                }
            }
        }
    });
    });
    var x = 0;
    function SearchStock() {
        debugger
        var _DistrictAttendance = $("#DistrictAttendance").val();
        var _RegionStockSE = $("#RegionStockSE option:selected").text();
        var _DateStockSE = $("#DateStockSE").val();
        var _OutletStockSE = $("#OutletStockSE option:selected").val();
        var _StatusStockSE = $("#StatusStockSE option:selected").val();
        var _Sale = $("#SaleSE option:selected").val();
        $('#loading').css("display", "block");
        $.ajax({
            url: "@Url.Action("Search", "StockOfferManager")",
            type: 'GET',
            data: {_DistrictAttendance:_DistrictAttendance, _RegionStockSE: _RegionStockSE, _OutletStockSE: _OutletStockSE, _StatusStockSE: _StatusStockSE, _DateStockSE: _DateStockSE, _SaleID: _Sale },
            contentType: 'application/json; charset=utf-8',
            datatype: 'html',
            success: function (result) {
                debugger;
                $('#liststockoffermanager').html(result);
                $('#loading').css("display", "none");
            }
        });
    }
</script>

