﻿@{
    ViewBag.Title = "TimeOut";
}

<img src="~/Images/alert.png" /> <h1 style="color:white">Phiên làm việc đã hết!</h1>
<h2 style="color:yellow">Vui lòng kiểm tra và cập nhật thông tin từ 10:01 đến 14:00 mỗi ngày!</h2>
