﻿@model List<Business.SaleVolumeEXT>
@{
    List<Business.Product> product = ViewBag.product;
    List<Business.Team_Outlet> oulteList = ViewBag.teams;
    List<Business.SaleVolumeEXT> listsimple = ViewBag.SaleVolumeEXT;
    int numbercolumn = @product.ToList().Count;
}
<style>
    #wrap {
        overflow: auto;
        height: 500px;
    }

    /* CSS for demo */
    td {
        width: 300px;
    }
</style>
<div class="m-content" style="padding-top:0px;border-radius:10px">
    <div class="m-portlet m-portlet--mobile" style="border-radius:10px">
        <div class="m-portlet__head" style="background-color: #10522B; border-radius: 10px 10px 0px 0px;border:2px solid white">
            <div class="m-portlet__head-caption">
                <div class="m-portlet__head-title">
                    <h3 class="m-portlet__head-text" style="color:white">
                        Danh Sách Đề Nghị
                    </h3>
                </div>
            </div>
        </div>
        <div class="m-portlet__body" style="overflow: auto; padding: 0px !important;" id="wrap">
            <table class="table table-striped">
                <thead>
                    <tr class="active" style="color: white; background-color: #10522B; text-align: center">
                        <th rowspan="3" style="border: 1px solid white; width: 100px"><div style="width: 50px">Vùng</div></th>
                        <th rowspan="3" style="border: 1px solid white; width: 200px"><div style="width: 200px">Siêu thị</div></th>
                        <th rowspan="3" style="border: 1px solid white"><div style="width: 100px">Tỉnh/Thành</div></th>
                        <th colspan="@numbercolumn" style="border: 1px solid white">Sản Phẩm</th>
                    </tr>
                    <tr style="color: white; background-color: #10522B; color: white; text-align: center">
                        @{foreach (var e in product)
                        {
                            if (e.ProductCode == "SP007")
                            {
                                <th style=" border: solid 1px white">Strongbow 24s</th>
                            }
                            else
                            {
                                <th style=" border: solid 1px white">@e.ProductName</th>
                            }

                        }
                        }
                    </tr>
                    <tr style="color: white; background-color: white; text-align: center">
                        @{foreach (var e in product)
                        {

                            <th style="color: black; border: solid 1px #eee"><img src="@e.FilePath" style="height: 20px; width: 40px" /></th>
                        }
                        }
                    </tr>
                </thead>
                <tbody style="border: solid 1px rgb(232, 228, 228); width: 1300px; background-color: white; color: black; width: 100%">
                    @{
                        foreach (var item in oulteList)
                        {
                            string _messageError = String.Empty;
                            var simple = Model.Where(temp => temp.TeamOutletID == item.ID).ToList();
                            if (simple.Count() > 0)
                            {
                                <tr>
                                    @{
                                int number = simple.Count() + 1;
                                <td style="background-color: white; border: solid 1px #808080"> @item.Outlet.Region.Type</td>
                                        <td style="background-color: white; border: solid 1px #808080">@item.Team.TeamName</td>
                                        <td style="background-color: white; border: solid 1px #808080"> @item.Outlet.City </td>
                                for (int i = 0; i < product.Count(); i++)
                                {

                                    var _detailproduct = simple.Where(p => p.ProductCode == product[i].ProductCode);
                                    if (_detailproduct.Count() > 0)
                                    {
                                        var temp = _detailproduct.FirstOrDefault();
                                        <td style="border: solid 1px #808080; padding: 5px 10px; text-align: center;">@temp.Number</td>
                                    }
                                    else
                                    {
                                        if (product[i].IsNaN != null)
                                        {
                                            if (product[i].IsNaN.Split('|').ToList().Where(p => p == item.Outlet.GroupID.ToString()).Count() > 0)
                                            {
                                                <td style="border: solid 1px #808080; padding: 5px 10px; text-align: center; background-color: gray"></td> }
                                            else
                                            {
                                                <td style="border: solid 1px #808080; padding: 5px 10px; text-align: center;"></td>
                                            }
                                        }
                                        else
                                        {
                                            <td style="border: solid 1px #808080; padding: 5px 10px; text-align: center;"></td>
                                        }
                                    }
                                }
                                    }
                                </tr>
                            }
                            else
                            {
                                <tr>
                                    <td style="background-color: white; border: solid 1px #808080">@item.Outlet.Region.Type</td>
                                    <td style="background-color: white; border: solid 1px #808080">@item.Team.TeamName</td>
                                    <td style="background-color: white; border: solid 1px #808080"> @item.Outlet.City </td>
                                    @foreach (var x in product)
                                    {
                                        if (x.IsNaN != null)
                                        {
                                            if (x.IsNaN.Split('|').ToList().Where(p => p == item.Outlet.GroupID.ToString()).Count() > 0)
                                            {
                                                <td style="border: solid 1px #808080; padding: 5px 10px; text-align: center; background-color: gray"></td> }
                                            else
                                            {
                                                <td style="border: solid 1px #808080; padding: 5px 10px; text-align: center;"></td>
                                            }
                                        }
                                        else
                                        {
                                            <td style="border: solid 1px #808080; padding: 5px 10px; text-align: center;"></td>
                                        }
                                    }
                                </tr>
                            }
                        }
                        <tr>
                            <td style="background-color: white; border: solid 1px #808080" colspan="3">Tổng Cộng</td>
                            @foreach (var j in product)
                            {
                                var _detailgift2 = listsimple.Where(p => p.ProductCode == j.ProductCode);
                                if (_detailgift2.Count() > 0)
                                {

                                    <td style="border: solid 1px #808080; padding: 5px 10px; text-align: center;">@_detailgift2.FirstOrDefault().Number</td>

                                }


                                else
                                {

                                    <td style="border: solid 1px #808080; padding: 5px 10px; text-align: center;"></td>
                                }
                            }
                        </tr>
                    }
                </tbody>
            </table>
        </div>

    </div>
</div>
<div style="float: right; margin-top: 1%">
    @using (Html.BeginForm("ExportExcel", "ReportSaleVolume"))
    {
        <button type="submit" style="background-image: url(./Images/excel.png); background-size: cover; width: 40px; height: 40px"></button>
    }
</div>
<script>
    function UpdateStock(idoutlet, date) {
        debugger;
        $.ajax({
            type: "GET",
            url: '@Url.Action("_UpdateStock")',
            data: { _OutletID: idoutlet, _DateStock: date },
            success: function (data) {
                $('#myModal').empty();
                $('#myModal').append(data);
                $('#myModal').modal('show');
            }
        });
    }
</script>
<script>
    document.getElementById("wrap").addEventListener("scroll", function () {
        var translate = "translate(0," + this.scrollTop + "px)";
        this.querySelector("thead").style.transform = translate;
        this.querySelector("th").style.border = 'border: solid 1px #808080';
    });
</script>