﻿@model List<Business.OutletCurrentSetEXT>

@{
    ViewBag.Title = "Quản Lý Set Quà";
    var user = ViewBag.UserRole;
    List<Business.Brand> brand = ViewBag.brand;
}

<div class="m-content" style="padding-top:0px;border-radius:10px">
    <div class="m-portlet m-portlet--mobile" style="border-radius:10px">
        <div class="m-portlet__head" style="background-color: #10522B; border-radius: 10px 10px 0px 0px;border:2px solid white">
            <div class="m-portlet__head-caption">
                <div class="m-portlet__head-title">
                    <h3 class="m-portlet__head-text" style="color:white">
                        Danh Sách Set Quà
                    </h3>
                </div>
            </div>
        </div>
        <div class="m-portlet__body" style="overflow:auto">
            <table class="table table-striped new" id="m_table_managementset">
                <thead style="background-color: #10522B; color: white; text-align: center">
                    <tr>
                        <th rowspan="2" style="width: 200px; border: 1px solid #eee">Vùng</th>
                        <th rowspan="2" style="width: 200px; border: 1px solid #eee">Loại</th>
                        <th rowspan="2" style="width: 200px; border: 1px solid #eee">Siêu Thị</th>
                        <th colspan="@brand.Count()" style="width: 200px; border: 1px solid #eee">Nhãn Hàng</th>
                        <th rowspan="2" style="width: 200px; border: 1px solid #eee">Cập Nhật</th>
                    </tr>
                    <tr style="color: white; background-color: #10522B;color:white">
                        @{foreach (var e in brand)
                        {
                            <th style="border: 1px solid #eee">@e.BrandName</th>
                        }
                        }
                    </tr>
                </thead>
                <tbody style="color:white">
                    @{ foreach (var item in Model)
                     {
                        <tr>
                            <td>@item.RegionName</td>
                            <td>@item.ChanelName</td>
                            <td>@item.OutletName</td>
                            @for (int i = 0; i < brand.Count(); i++)
                            {
                                var simple = item.list.Where(p => p.BrandID == brand[i].ID);
                                if (simple.Count() > 0)
                                {
                                    <td>@simple.FirstOrDefault().SetName</td>
                                }
                                else
                                {
                                    <td></td>
                                }
                            }
                            <td>
                                @if (user != "P2P")
                                {
                                    if (item.StatusRequest > 0)
                                    {
                                        <button style="background-color: red;color:white" onclick="UpdateSetDetail('@item.OutletID')">Xác Nhận</button>
                                    }
                                    else
                                    {
                                        <button style="background-color: #10522B;color:white" onclick="UpdateSetDetail('@item.OutletID')">Cập Nhật</button>
                                    }
                                }
                            </td>
                        </tr>
                     }
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>


<script>
    var table = $('#m_table_managementset').DataTable({ "ordering": false });
</script>
<script>
    function UpdateSetDetail(_idoutlet) {
        debugger;
        $.ajax({
            type: "GET",
            url: '@Url.Action("_Update")',
            data: { _OutletID: _idoutlet },
            success: function (data) {
                if (data.ok == false) {
                    window.location = data.newurl;
                }
                else {
                    $('#myModal').empty();
                    $('#myModal').append(data);
                    $('#myModal').modal('show');
                }
            }
        });
    }
</script>



