﻿@model Business.OutletCurrentSetSE
<div class="m-content">

    <div class="row">
        <div class="col-md-12">
            <div class="m-portlet m-portlet--mobile" style="border-radius:10px">
                <div class="m-portlet__head" style="background-color: #10522B; border-radius: 10px 10px 0px 0px;border:2px solid white">
                    <div class="m-portlet__head-caption">
                        <div class="m-portlet__head-title">
                            <h3 class="m-portlet__head-text" style="color:white">
                                Nội Dung Tìm Kiếm
                            </h3>
                        </div>
                    </div>
                </div>
                <form class="m-form m-form--fit m-form--label-align-right">
                    <div class="m-portlet__body">
                        <div class="form-group m-form__group">
                            @Html.LabelFor(m => m.RegionCurrentSet)
                            @Html.DisplayFor(m => m.RegionCurrentSet)
                        </div>
                        <div class="form-group m-form__group">
                            @Html.LabelFor(m => m.OutletCurrentSet)
                            @Html.DisplayFor(m => m.OutletCurrentSet)
                        </div>
                    </div>
                    <div class="m-portlet__foot m-portlet__foot--fit">
                        <div class="m-form__actions">
                            <button type="button" style="background-color: #10522B;color:white" class="btn btn-success" onclick="SearchManagementSet()">Tìm Kiếm</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<script>

    $("#RegionCurrentSet").change(function () {
        var selectedId = $("#RegionCurrentSet option:selected").text();
        $.ajax({
            url: "@Url.Action("GetOutletForRegion")",
            type: 'GET',
            data: { _RegionID: selectedId },
            contentType: 'application/json; charset=utf-8',
            success: function (teamdailyse) {
                if (teamdailyse.ok == false) {
                    window.location = teamdailyse.newurl;
                } else {
                    debugger;
                    $('#OutletCurrentSet option').remove();
                    for (var i = 0; i < teamdailyse.length; i++) {
                        $("#OutletCurrentSet").append("<option value=" + " " + teamdailyse[i].ID + " " + ">" + teamdailyse[i].Text + "</option>");
                        $('#OutletCurrentSet').trigger("chosen:updated");
                    }
                }
            }
        });
    });
    var x = 0;
    function SearchManagementSet() {
        debugger
        var _RegionCurrentSet = $("#RegionCurrentSet option:selected").text();
        var _OutletCurrentSet = $("#OutletCurrentSet option:selected").val();
        $('#loading').css("display", "block");
        $.ajax({
            url: "@Url.Action("Search", "ManagementSet")",
            type: 'GET',
            data: { _RegionOutletCurrentSet: _RegionCurrentSet, _OutletOutletCurrentSet: _OutletCurrentSet },
            contentType: 'application/json; charset=utf-8',
            datatype: 'html',
            success: function (result) {
                debugger;
                if (result.ok == false) {
                    window.location = result.newurl;
                }
                else {
                    $('#listmanagementset').html(result);
                    $('#loading').css("display", "none");
                }
            }
        });
    }
</script>

