﻿@model Report.Models.ChangeSetModel

@{
    Layout = null;
    List<Business.Brand> brand = ViewBag.brand;
    int outletID = Model.OutletID;
}

<div class="modal-dialog" role="document">
    <div class="modal-content">
        <div class="modal-header" style="background-color:#10522B">
            <h5 class="modal-title" id="exampleModalLabel" style="color: white">CẬP NHẬT SET</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close" id="close-modal">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="modal-body">
            <span>Siêu Thị : <h3> @Model.OutletName</h3></span>
            <table class="table table-striped">
                <thead>
                <th></th>
                @foreach (var item in brand)
                {
                    <th style="color:green;font-weight:600">@item.BrandName</th>
                }
                </thead>
                <tbody>
                    <tr>
                        <td>
                            Set Quà Đang Sử Dụng
                        </td>
                        @foreach (var item in brand)
                        {
                            if (Model.outlet_Current_Set.Where(p => p.Brand_Set.Brand.BrandName == item.BrandName).Count() > 0 && Model.outlet_Current_Set != null)
                            {
                                <td>
                                    @Html.DropDownListFor(model => model.BrandSetCurrent, Model.outlet_Current_Set.Where(p => p.Brand_Set.Brand.BrandName == item.BrandName).Select(x => new SelectListItem { Text = x.Brand_Set.SetName, Value = x.Brand_Set.ID.ToString() }), new { style = "width:100%", disabled = "disabled" })
                                </td>
                            }
                            else
                            {
                                <td></td>
                            }
                        }
                    </tr>
                    <tr>
                        <td>
                            Set Quà Yêu Cầu Đổi
                        </td>
                        @foreach (var item in brand)
                        {
                            //Nếu tồn tại brand và k null
                            if (Model.outlet_Requirement_Change_Set.Where(p => p.Brand_Set.Brand.BrandName == item.BrandName).Count() > 0 && Model.outlet_Requirement_Change_Set != null)
                            {
                                //lấy brandset thuộc brand
                                var brandset = Model.brand_Set.Where(p => p.Brand.BrandName == item.BrandName);
                                // tạo 1 selectlist brand
                                var selectListItems = brandset.Select(x => new SelectListItem() { Value = x.ID.ToString(), Text = x.SetName }).ToList();
                                //đánh dấu brandset yêu cầu mới
                                Model.BrandSetRequest = Model.outlet_Requirement_Change_Set.Where(p => p.Brand_Set.Brand.BrandName == item.BrandName).Select(p => p.BrandSetID).FirstOrDefault();
                                <td>@Html.DropDownListFor(model => model.BrandSetRequest, new SelectList(selectListItems, "Value", "Text", "Selected"), new { id = "Request" + @item.ID ,style="width:100%"})</td>
                            }
                            else
                            {
                                //lấy brandset thuộc brand
                                var brandset = Model.brand_Set.Where(p => p.Brand.BrandName == item.BrandName);
                                var selectListItems = brandset.Select(x => new SelectListItem() { Value = x.ID.ToString(), Text = x.SetName }).ToList();
                                <td>@Html.DropDownListFor(model => model.BrandSetRequest, new SelectList(selectListItems, "Value", "Text", "Selected"), new { id = "Request" + @item.ID, style = "width:100%" })</td>
                            }
                        }
                    </tr>

                </tbody>

            </table>
            <div class="modal-footer">
                <button type="button" style="background-color: #10522B;color:white" data-dismiss="modal" id="close-modal">HỦY</button>
                <button type="button" style="background-color: #10522B;color:white" data-dismiss="modal" id="close-modal" onclick="UpdateSet()">XÁC NHẬN</button>
            </div>
        </div>
    </div>
</div>

<script>
    function UpdateSet() {
        debugger;
        var i;
        var selectedvalue = '';
        var arrayvalue = '';
        
        @for (int i = 0; i < @brand.ToList().Count(); i++)
         {
             //var selectedId = $("#Request" + brand.ToList()[i].ID + "option:selected").val();
             <text> arrayvalue += '@brand.ToList()[i].ID' + '|';</text>
         }     
        var list = arrayvalue.split("|");
        for (var i = 0; i < list.length; i++) {
            var selectedId = $("#Request" + list[i] + " option:selected").val();
            selectedvalue += selectedId + '|';
        }
        var list2 = selectedvalue.split("|");
        selectedvalue = list2.filter(Number).join('|');
        debugger;
        $('#myModal').modal('hide');
        $('#loadingmessage').show();
        $.ajax({
            url: "@Url.Action("Update", "ManagementSet")",
            type: 'GET',
            data: { _brandsetID: selectedvalue, _pOutletID: '@outletID' },
            contentType: 'application/json; charset=utf-8',
            datatype: 'html',
            success: function (result) {
                debugger;
                $('#listmanagementset').html(result);
                $('#loadingmessage').hide();

            }
        });
    }
</script>



