﻿@model Business.UserSE
<div class="m-content">

    <div class="row">
        <div class="col-md-12">
            <div class="m-portlet m-portlet--mobile" style="border-radius:10px">
                <div class="m-portlet__head" style="background-color: #10522B; border-radius: 10px 10px 0px 0px;border:2px solid white">
                    <div class="m-portlet__head-caption">
                        <div class="m-portlet__head-title">
                            <h3 class="m-portlet__head-text" style="color:white">
                                Nội Dung Tìm Kiếm
                            </h3>
                        </div>
                    </div>
                </div>
                <form class="m-form m-form--fit m-form--label-align-right">
                    <div class="m-portlet__body">
                        <div class="form-group m-form__group">
                            @Html.LabelFor(m => m.TypeUser)
                            @Html.DisplayFor(m => m.TypeUser)
                        </div>
                        <div class="form-group m-form__group">
                            @Html.LabelFor(m => m.RoleType)
                            @Html.DisplayFor(m => m.RoleType)
                        </div>
                    </div>
                    <div class="m-portlet__foot m-portlet__foot--fit">
                        <div class="m-form__actions">
                            <button type="button" style="background-color: #10522B;color:white" class="btn btn-success" onclick="SearchUser()">Tìm Kiếm</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<script>

    function SearchUser() {
        var _TypeUser = $("#TypeUser option:selected").text();
        var _RoleType = $("#RoleType option:selected").val();
        if (_TypeUser == "" || _RoleType == "") {
            alert("Incomplete information ! Please,again.");
            return false;
        }
        else
            $('#loading').css("display", "block");
        $.ajax({
            url: "@Url.Action("Search", "ManagerWeb")",
            type: 'GET',
            data: { _TypeUser: _TypeUser, _RoleType: _RoleType },
            contentType: 'application/json; charset=utf-8',
            datatype: 'html',
            success: function (result) {
                debugger; if (result.ok == false) {
                    window.location = result.newurl;
                }
                else {
                    $('#listmanageweb').html(result);
                    $('#loading').css("display", "none");
                }
            }
        });
    }
</script>

