﻿@model Report.Models.UserModel
@{
    ViewBag.Title = "Thêm Mới";
}
<div class="modal-dialog" role="document">
    <div class="modal-content">
        <div class="modal-header" style="background-color:green">
            <h5 class="modal-title" id="exampleModalLabel" style="color: white">THÊM MỚI USER</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close" id="close-modal">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="modal-body">
            <div class="row" style="background-color: #10522b; color: white">
                @Html.LabelFor(m => m.UserName)
                @Html.TextBoxFor(m => m.UserName, new { @class = "form-control m-input" })
            </div>
            <div class="row" style="background-color: #10522b; color: white">
                @Html.LabelFor(m => m.Password)
                @Html.PasswordFor(m => m.Password, new { @class = "form-control m-input" })
            </div>
            <div class="row" style="background-color: #10522b; color: white">
                @Html.LabelFor(m => m.ConfirmPassword)
                @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control m-input" })
            </div>
            <div class="row" style="background-color: #10522b; color: white">
                @Html.LabelFor(m => m.UserType)
                @Html.DisplayFor(m => m.UserType)
            </div>
            @*<div class="row" style="background-color: #10522b; color: white">
                @Html.LabelFor(m => m.RoleTypes)
                @Html.DisplayFor(m => m.RoleTypes)
            </div>*@

        </div>
        <div class="modal-footer">
            <button type="button" style="background-color: #10522B;color:white" data-dismiss="modal" id="close-modal">HỦY</button>
            <button type="button" style="background-color: #10522B;color:white" id="close-modal" onclick="AddNewUser()">XÁC NHẬN</button>
        </div>
    </div>
</div>
<link rel="stylesheet" href="~/Content/chosen.css" />
<script src="~/Scripts/chosen.jquery.js"></script>
<script src="~/Scripts/chosen.proto.min.js"></script>
<script type="text/javascript">
    jQuery(document).ready(function () {
        $(".chosen-select").chosen();
        $(".chosen-container").css("width", "100%");
        $(".chosen-container").css("height", "30px!important");
    });
</script>
<script>
    // Call as
    function myFunction() {
        var x = document.getElementById("myInput");
        if (x.type === "password") {
            x.type = "text";
        } else {
            x.type = "password";
        }
    }
    function AddNewUser() {
        debugger;
        var _username = $("#UserName").val();
        var _Password = $("#Password").val();
        var _ConfirmPassword = $("#ConfirmPassword").val();
        var _UserType = $("#UserType option:selected").text();
        //var _RoleType = $("#RoleTypes option:selected").val();
        if (_username != "" && _Password != "" && _UserType != "") {
            if ($("#UserType option:selected").val() != "0") {
                if (_Password == _ConfirmPassword) {

                    $('#myModal').modal('hide');
                    $('#loadingmessage').show();
                    $.ajax({
                        url: "@Url.Action("AddNew", "ManagerWeb")",
                        type: 'GET',
                        data: { _pUsername: _username, _pUserType: _UserType, _pPassWord: _Password},
                        contentType: 'application/json; charset=utf-8',
                        datatype: 'html',
                        success: function (result) {
                            debugger; if (result.ok == false) {
                                window.location = result.newurl;
                            }
                            else {
                                $('#listmanageweb').html(result);
                                $('#loadingmessage').hide();
                            }

                        }
                    });
                }
                else {
                    if (confirm("Vui Lòng Nhập Mật Khẩu và Xác Nhận chính xác!")) {
                        // Save it!
                    } else {
                        // Do nothing!
                    } 
                }
            } else {
                if (confirm("Vui Lòng Nhập Đầy Đủ Thông Tin Trước Khi Lưu!")) {
                    // Save it!
                } else {
                    // Do nothing!
                } 
            }
        }
        else {
            if (confirm("Vui Lòng Nhập Đầy Đủ Thông Tin Trước Khi Lưu!")) {
                // Save it!
            } else {
                // Do nothing!
            } 
        }

    }
</script>
