﻿@model Report.Models.ChangeOutletModel
@{
    ViewBag.Title = "Thêm Mới";
    string iduser = ViewBag.UserID;
    string _typeuser = ViewBag.UserType;
}
<div class="modal-dialog" role="document">
    <div class="modal-content">
        <div class="modal-header" style="background-color:green">
            <h5 class="modal-title" id="exampleModalLabel" style="color: white">THAY ĐỔI SIÊU THỊ</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close" id="close-modal">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="modal-body">
            <div class="row">
                <div class="col-md-6">
                    <h5 class="modal-title" id="exampleModalLabel" style="color: #10522B">DANH SÁCH SIÊU THỊ</h5>
                    <select class="select-cities" name="city" multiple="multiple" style="width:100%">
                        @foreach (var i in Model.listoutlet)
                        {
                            <option value="@i.ID">@i.OutletName</option>
                        }
                    </select>
                </div>
                <div class="col-md-6">
                    <h5 class="modal-title" id="exampleModalLabel" style="color: #10522B">DANH SÁCH HIỆN TẠI</h5>
                    <select class="chosen-cities" name="chosen-cities-name" multiple="multiple" id="outletID" style="width:100%">
                        @foreach (var i in Model.listforuser)
                        {
                            <option value="@i.ID">@i.OutletName</option>
                        }
                    </select>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" style="background-color: #10522B;color:white" data-dismiss="modal" id="close-modal">HỦY</button>
                <button type="button" style="background-color: #10522B;color:white" id="close-modal" onclick="AddNewUser()">XÁC NHẬN</button>
            </div>
        </div>
    </div>
    <link rel="stylesheet" href="~/Content/chosen.css" />
    <script src="~/Scripts/chosen.jquery.js"></script>
    <script src="~/Scripts/chosen.proto.min.js"></script>
    <script type="text/javascript">
        jQuery(document).ready(function () {
            $(".chosen-select").chosen();
            $(".chosen-container").css("width", "100%");
            $(".chosen-container").css("height", "30px!important");
        });
    </script>
    <script>
        $('.select-cities').click(function () {
            $('.select-cities option:selected').appendTo('.chosen-cities');
        });

        $('.chosen-cities').click(function () {
            $('.chosen-cities option:selected').appendTo('.select-cities');
        });
        function AddNewUser() {
            var x = document.getElementById("outletID");
            var i;
            var listID =[];
            for (i = 0; i < x.length; i++) {
                listID.push(x.options[i].value);
            }
            debugger;
            var _pListUserID = listID.join('|');
            $('#myModal').modal('hide');
            $('#loadingmessage').show();
            $.ajax({
                url: "@Url.Action("AddNewOutlet", "ManagerWeb")",
                type: 'GET',
                data: { _pListUserID: _pListUserID, _pUserID: '@iduser', _pUserType: '@_typeuser.Trim()' },
                contentType: 'application/json; charset=utf-8',
                datatype: 'html',
                success: function (result) {
                    debugger; if (result.ok == false) {
                        window.location = result.newurl;
                    }
                    else {
                        $('#listmanageweb').html(result);
                        $('#loadingmessage').hide();
                    }
                }
            });
        }

    </script>
