﻿@model List<Business.UserEXT>

@{
    ViewBag.Title = "Quản Trị";
}

<div>
    @{Html.RenderPartial("_Search", new Business.UserSE());}
</div>
<div id='loadingmessage' style='display:none; text-align: -webkit-center;'>
    <img src="~/Images/process.gif" class="loader" />
</div>
<div id="listmanageweb">
    @{Html.RenderPartial("_List", Model);}
</div>

