﻿@model List<Business.Take_Off_VolumnOutletForSum>
@{
    List<Business.Product> product = ViewBag.product;
    List<Business.Outlet> oulteList = ViewBag.outlets;
    int numbercolumn = @product.ToList().Count;
     var user = ViewBag.UserRole;
}

<link href="~/Content/Site.css" rel="stylesheet" />
<div class="m-content" style="padding-top:0px;border-radius:10px">
    <div class="m-portlet m-portlet--mobile" style="border-radius:10px">
        <div class="m-portlet__head" style="background-color: #10522B; border-radius: 10px 10px 0px 0px;border:2px solid white">
            <div class="m-portlet__head-caption">
                <div class="m-portlet__head-title">
                    <h3 class="m-portlet__head-text" style="color:white">
                        Báo Cáo Sản Lượng
                    </h3>
                </div>
            </div>
        </div>
        <div class="m-portlet__body" style="overflow:auto">
            <table class="table table-striped" id="m_table_stock">
                <thead>
                    <tr class="active" style="color: white; background-color: #10522B; text-align: center;">
                        <th rowspan="3" style="border: 1px solid white; width: 100px"><div style="width: 50px">Vùng</div></th>
                        <th rowspan="3" style="border: 1px solid white; width: 200px"><div style="width: 200px">Siêu thị</div></th>
                        <th rowspan="3" style="border: 1px solid white"><div style="width: 100px">Tỉnh/Thành</div></th>
                        <th colspan="@numbercolumn" style="border: 1px solid white">Sản Phẩm</th>
                    </tr>
                    <tr style="color: white; background-color: #10522B; color: white; text-align: center;">
                        @{foreach (var e in product)
                        {
                            if (e.BrandID == 1 || e.BrandID == 2)
                            {
                                <th style="border: solid 1px white">@e.ProductName</th>
                            }
                            else
                            {
                                <th style="border: solid 1px white">@e.ProductName</th>
                            }
                        }
                        }
                    </tr>
                    <tr style="color: white; background-color: white; text-align: center;">
                        @{foreach (var e in product)
                        {
                            if (e.BrandID == 1 || e.BrandID == 2)
                            {
                                <th style="color: black; border: solid 1px #eee"><img src="@e.FilePath" style="height: 20px; width: 40px" /></th>
                            }
                            else
                            {
                                <th style="color: black; border: solid 1px #eee"><img src="@e.FilePath" style="height: 20px; width: 40px" /></th>
                            }

                        }
                        }
                    </tr>
                </thead>
                <tbody style="border: solid 1px white; width: 1300px; background-color: white;  width: 100%">
                    @{
                        foreach (var item in oulteList)
                        {
                            string _messageError = String.Empty;
                            var simple = Model.Where(temp => temp.OutletID == item.ID).ToList();
                            if (simple.Count() > 0)
                            {

                                <tr>
                                    @{
                                    int number = simple.Count() + 1;
                                    <td style="background-color: white; border: solid 1px #808080"> @item.Region.Type </td> 
                                    <td style="background-color: white; border: solid 1px #808080">@item.OutletName</td>
                                        <td style="background-color: white; border: solid 1px #808080"> @item.City </td>
                                    for (int i = 0; i < product.Count(); i++)
                                    {
                                        var _detailproduct = simple.Where(p => p.ProductID == product[i].ID);
                                        if (_detailproduct.Count() > 0)
                                        {
                                            foreach (var z in _detailproduct)
                                            {
                                                if (product[i].ID == z.ProductID)
                                                {
                                                    <td style="border: solid 1px #808080; padding: 5px 10px; text-align: center;">@z.TotalNumber</td>
                                                }
                                            }
                                        }
                                        else
                                        {
                                            if (item.GroupID == product[i].GroupID)
                                            {
                                                <td style="border: solid 1px #808080; padding: 5px 10px; text-align: center; background-color: gray"></td> }
                                            else
                                            {
                                                <td style="border: solid 1px #808080; padding: 5px 10px; text-align: center;"></td>
                                            }
                                        }
                                    }

                                    }

                                </tr>
                            }
                            else
                            {
                                <tr>
                                    <td style="background-color: white; border: solid 1px #808080">@item.Region.Type</td>
                                    <td style="background-color: white; border: solid 1px #808080">@item.OutletName</td>
                                    <td style="background-color: white; border: solid 1px #808080"> @item.City </td>
                                    @foreach (var x in product)
                                    {
                                        if (item.GroupID == x.GroupID)
                                        {
                                            <td style="border: solid 1px #808080;background-color:gray"></td>
                                        }
                                        else
                                        {
                                            <td style="border: solid 1px #808080"></td>
                                        }

                                    }
                                </tr>
                            }
                        }
                    }
                </tbody>
            </table>
        </div>
    </div>
@if (user != "SupWeb")
    {
    <div style="float: right; margin-top: 1%">
        @using (Html.BeginForm("ExportExcel", "ReportTakeOffVolume"))
        {
            <button type="submit" style="background-image: url(./Images/excel.png); background-size: cover; width: 40px; height: 40px"></button>
        }
    </div>
}
</div>

<script>
    function UpdateStock(idoutlet, date) {
        debugger;
        $.ajax({
            type: "GET",
            url: '@Url.Action("_UpdateStock")',
            data: { _OutletID: idoutlet, _DateStock: date },
            success: function (data) {
                $('#myModal').empty();
                $('#myModal').append(data);
                $('#myModal').modal('show');
            }
        });
    }
</script>