﻿@model Business.Take_Off_VolumnSE

<div class="m-content">
    <div class="row">
        <div class="col-md-12">
            <div class="m-portlet m-portlet--mobile" style="border-radius:10px">
                <div class="m-portlet__head" style="background-color: #10522B; border-radius: 10px 10px 0px 0px;border:2px solid white">
                    <div class="m-portlet__head-caption">
                        <div class="m-portlet__head-title">
                            <h3 class="m-portlet__head-text" style="color:white">
                                Nội Dung Tìm Kiếm
                            </h3>
                        </div>
                    </div>
                </div>
                <form class="m-form m-form--fit m-form--label-align-right">
                    <div class="m-portlet__body">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group m-form__group">
                                    @Html.LabelFor(m => m.DateFromTakeOffSE)
                                    @Html.TextBoxFor(m => m.DateFromTakeOffSE, "{0:dd/MM/yyyy}", new { style = "width:100%" })
                                </div>
                                <div class="form-group m-form__group">
                                    @Html.LabelFor(m => m.RegionTakeOffSE)
                                    @Html.DisplayFor(m => m.RegionTakeOffSE)
                                </div>
                                <div class="form-group m-form__group">
                                    @Html.LabelFor(m => m.DistrictAttendance)
                                    @Html.DisplayFor(m => m.DistrictAttendance)
                                </div>
                               
                            </div>
                            <div class="col-md-6">
                                <div class="form-group m-form__group" >
                                    @Html.LabelFor(m => m.DateToTakeOffSE)
                                    @Html.TextBoxFor(m => m.DateToTakeOffSE, "{0:dd/MM/yyyy}", new { style = "width:100%" })
                                </div>
                                <div class="form-group m-form__group">
                                    @Html.LabelFor(m => m.SaleReportSE)
                                    @Html.DisplayFor(m => m.SaleReportSE)
                                </div>
                                <div class="form-group m-form__group">
                                        @Html.LabelFor(m => m.OutletTakeOffSE)
                                        @Html.DisplayFor(m => m.OutletTakeOffSE)
                                    </div>
                            </div>
                        </div>
                    </div>
                    <div class="m-portlet__foot m-portlet__foot--fit">
                        <div class="m-form__actions">
                            <button type="button" style="background-color: #10522B;color:white" class="btn btn-success" onclick="SearchStock()">Tìm Kiếm</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<script>
    $("#DateFromTakeOffSE").datepicker({
        changeMonth: true,
        changeYear: true,
        dateFormat: 'dd/mm/yy'
    });
    $("#DateToTakeOffSE").datepicker({
        changeMonth: true,
        changeYear: true,
        dateFormat: 'dd/mm/yy'
    });
</script>
<script>
    $("#DistrictAttendance").change(function () {
        var selectedId = $("#DistrictAttendance").val();
        $.ajax({
            url: "@Url.Action("GetOutletForDistrict")",
            type: 'GET',
        data: { _DistrictID: selectedId},
        contentType: 'application/json; charset=utf-8',
        success: function (teamdailyse) {
            debugger; if (teamdailyse.ok == false) {
                window.location = teamdailyse.newurl;
            } else {
                $('#OutletTakeOffSE option').remove();
                for (var i = 0; i < teamdailyse.length; i++) {
                    $("#OutletTakeOffSE").append("<option value=" + " " + teamdailyse[i].ID + " " + ">" + teamdailyse[i].Text + "</option>");
                    $('#OutletTakeOffSE').trigger("chosen:updated");
                }
            }
        }
    });
    });

    $("#SaleReportSE").change(function () {
        var selectedId = $("#SaleReportSE option:selected").val();
        var selectedRegionId = $("#RegionTakeOffSE option:selected").text();
        $.ajax({
            url: "@Url.Action("GetOutletForSale")",
            type: 'GET',
        data: { _SaleID: selectedId, _RegionID: selectedRegionId },
        contentType: 'application/json; charset=utf-8',
        success: function (teamdailyse) {
            debugger; if (teamdailyse.ok == false) {
                window.location = teamdailyse.newurl;
            } else {
                $('#OutletTakeOffSE option').remove();
                for (var i = 0; i < teamdailyse.length; i++) {
                    $("#OutletTakeOffSE").append("<option value=" + " " + teamdailyse[i].ID + " " + ">" + teamdailyse[i].Text + "</option>");
                    $('#OutletTakeOffSE').trigger("chosen:updated");
                }
            }
        }
    });
    });

    $("#RegionTakeOffSE").change(function () {
        var selectedId = $("#RegionTakeOffSE option:selected").text();
        $.ajax({
            url: "@Url.Action("GetOutletForRegion")",
            type: 'GET',
            data: { _RegionID: selectedId },
            contentType: 'application/json; charset=utf-8',
            success: function (teamdailyse) {
                debugger; if (teamdailyse.ok == false) {
                    window.location = teamdailyse.newurl;
                } else {
                    $('#OutletTakeOffSE option').remove();
                    for (var i = 0; i < teamdailyse.length; i++) {
                        $("#OutletTakeOffSE").append("<option value=" + " " + teamdailyse[i].ID + " " + ">" + teamdailyse[i].Text + "</option>");
                        $('#OutletTakeOffSE').trigger("chosen:updated");
                    }
                }
            }
        });
        $.ajax({
            url: "@Url.Action("GetSaleForRegion")",
            type: 'GET',
        data: { _RegionID: selectedId },
        contentType: 'application/json; charset=utf-8',
        success: function (teamdailyse) {
            debugger; if (teamdailyse.ok == false) {
                window.location = teamdailyse.newurl;
            } else {
                $('#SaleReportSE option').remove();
                for (var i = 0; i < teamdailyse.length; i++) {
                    $("#SaleReportSE").append("<option value=" + " " + teamdailyse[i].ID + " " + ">" + teamdailyse[i].Text + "</option>");
                    $('#SaleReportSE').trigger("chosen:updated");
                }
            }
        }
        });

        $.ajax({
            url: "@Url.Action("GetDistrictForRegion")",
            type: 'GET',
        data: { _RegionID: selectedId },
        contentType: 'application/json; charset=utf-8',
            success: function (teamdailyse2) {
                debugger;
                if (teamdailyse2.ok == false) {
                    window.location = teamdailyse2.newurl;
                }
                else {
                    $('#DistrictAttendance option').remove();
                    for (var i = 0; i < teamdailyse2.length; i++) {
                        $("#DistrictAttendance").append("<option value=" + " " + teamdailyse2[i].ID + " " + ">" + teamdailyse2[i].Text + "</option>");
                        $('#DistrictAttendance').trigger("chosen:updated");
                    }
                }
            }
        });

    });
    var x = 0;
    function SearchStock() {
        debugger
        var _DistrictAttendance = $("#DistrictAttendance").val();
        var _SaleReportSE = $("#SaleReportSE option:selected").val();
        var _RegionTakeOffSE = $("#RegionTakeOffSE option:selected").text();
        var _datetoTakeOffSE = $("#DateToTakeOffSE").val();
        var _dateformTakeOffSE = $("#DateFromTakeOffSE").val();
        var _OutletTakeOffSE = $("#OutletTakeOffSE option:selected").val();
        $('#loading').css("display", "block");
        $.ajax({
            url: "@Url.Action("Search", "ReportTakeOffVolume")",
            type: 'GET',
            data: { _DistrictAttendance: _DistrictAttendance, _SaleReportSE: _SaleReportSE, _OutletTakeOffSE: _OutletTakeOffSE, _RegionTakeOffSE: _RegionTakeOffSE, _dateformTakeOffSE: _dateformTakeOffSE, _datetoTakeOffSE: _datetoTakeOffSE },
            contentType: 'application/json; charset=utf-8',
            datatype: 'html',
            success: function (result) {
                debugger; if (result.ok == false) {
                    window.location = result.newurl;
                }
                else {
                    $('#listtakeoff').html(result);
                    $('#loading').css("display", "none");
                }
            }
        });
    }
</script>

