﻿<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>jQuery barChart Basic Example</title>
    <link href="http://www.jqueryscript.net/css/jquerysctipttop.css" rel="stylesheet" type="text/css">
    <link href="~/assets/charts/barchart.css" rel="stylesheet" />
    <style>
        * {
            padding: 0;
            margin: 0;
            -moz-box-sizing: border-box;
            box-sizing: border-box;
            border: none;
            outline: none;
            font: normal 100% sans-serif;
        }

        html, body {
            width: 100%;
            height: 100%;
            background-color: #fafafa;
        }

        h1 {
            margin: 150px auto 30px auto;
            text-align: center;
        }
    </style>

</head>
<body>
   
    <h1>jQuery barChart Basic Example</h1>
    <div id="chart"></div>

    
    <script src="~/assets/charts/barchart.jquery.js"></script>
    <script>

        $(document).ready(function () {

            $('#chart').barChart({
                height: 500,
                bars: [
                    {
                        name: 'Dataset 1',
                        values: [[1450569600, 40], [1450656000, 30], [1450742400, 15], [1450828800, 75], [1450915200, 129], [1451001600, 3.3], [1451088000, 57], [1451174400, 50], [1451260800, 30], [1451347200, 31], [1451433600, 24], [1451520000, 24], [1451606400, 24], [1451692800, 29], [1451779200, 39], [1451865600, 52], [1451952000, 36], [1452038400, 60], [1452124800, 39], [1452211200, 44], [1452297600, 36], [1452384000, 44], [1452470400, 64], [1452556800, 28], [1452643200, 58], [1452729600, 58], [1452816000, 50], [1452902400, 44], [1452988800, 57], [1453075200, 45], [1453161600, 7]]
                    }, {
                        name: 'Dataset 2',
                        values: [[1450569600, 45], [1450656000, 33], [1450742400, 49], [1450828800, 25], [1450915200, 29], [1451001600, 33], [1451088000, 5.7], [1451174400, 50], [1451260800, 30], [1451347200, 10], [1451433600, 24], [1451520000, 24], [1451606400, 24], [1451692800, 29], [1451779200, 39], [1451865600, 52], [1451952000, 36], [1452038400, 60], [1452124800, 39], [1452211200, 44], [1452297600, 36], [1452384000, 44], [1452470400, 64], [1452556800, 28], [1452643200, 58], [1452729600, 58], [1452816000, 50], [1452902400, 44], [1452988800, 57], [1453075200, 45], [1453161600, 7]]
                    }
                ]
            });

        });

    </script>
    <script type="text/javascript">

        var _gaq = _gaq || [];
        _gaq.push(['_setAccount', 'UA-36251023-1']);
        _gaq.push(['_setDomainName', 'jqueryscript.net']);
        _gaq.push(['_trackPageview']);

        (function () {
            var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
            ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
            var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
        })();

    </script>
</body>
</html>
