﻿@model Business.ReportHomeEXT
@{
    ViewBag.Title = "Trang Chủ";
    List<Business.Brand> brand = ViewBag.brand;
    List<Business.Region> region = ViewBag.region;
    int _re = region.Count();
    List<Business.Region> regionHCM = new List<Business.Region>();
    int outlettype = ViewBag.outletType;
    if (outlettype == 0)
    {
        regionHCM = region.Where(p => p.Type == "HCM").ToList();
        region = region.Where(p => p.Type != "HCM").ToList();
    }
    List<Business.RegionOutlet> regionOulet = ViewBag.outletinregion;
    string pass = ViewBag.UserChangePass;
    var role = ViewBag.UserRole;
}
<div class="m-content">
    <div class="row">
        <div class="col-lg-12">
            <div class="m-portlet " style="border-radius: 10px; background-color: transparent">
                <div class="m-portlet__body  m-portlet__body--no-padding" style="background-color:transparent">
                    <div class="row m-row--no-padding m-row--col-separator-xl">
                        <div class="col-md-12 col-lg-6 col-xl-3" style="border-radius: 10px; border-right: 5px solid green;background-color:white">
                            <img src="~/assets/demo/demo6/media/img/logo/team.png" style="width:30%;float:left;margin: 12px;" />
                            <div class="m-widget24">
                                <div class="m-widget24__item" style="color:green!important">
                                    <p style="color: green !important; float: none; text-align: center; font-weight: 700; font-size: 20px; margin-top: 10%;">
                                        <span style="color: #18773B !important; font-size: 25px; border-radius: 10px; border: 4px solid green; padding: 5px 35px 5px 35px; box-shadow: 2px 2px 5px 2px #c1c1c1  ;  width: 80%;"> <span style="color:red">@Model.ToTalAttendance</span> /@Model.TotalOutlet</span>
                                        <br style="padding:5px" /><h3 style="text-align: center; font-weight: 700; font-size: 14px">ĐANG HOẠT ĐỘNG</h3>
                                    </p>
                                </div>
                            </div>
                        </div>
                        @*<div class="col-md-12 col-lg-6 col-xl-3" style="border-radius: 10px; border-right: 5px solid green; background-color: white; ">
                            <img src="~/assets/demo/demo6/media/img/logo/usererror.png" style="width:30%;float:left;margin: 12px;" />
                            <div class="m-widget24">
                                <div class="m-widget24__item" style="color:green!important">
                                    <p style="color: green !important; float: none; text-align: center; font-weight: 700; font-size: 20px; margin-top: 10%;">
                                        <span style="color: #18773B !important; font-size: 25px; border-radius: 10px; border: 4px solid green; padding: 5px 45px 5px 45px; box-shadow: 2px 2px 5px 2px #c1c1c1;  width: 80%"> <span style="color:red">@Model.ToTalProfileDiscipline</span> /@Model.TotalProfile</span>
                                        <br style="padding:5px" /><h3 style="text-align: center; font-weight: 700; font-size: 14px">SP VI PHẠM</h3>
                                    </p>
                                </div>
                            </div>
                        </div>*@
                        <div class="col-md-12 col-lg-6 col-xl-3" style="border-radius: 10px; border-right: 5px solid green; background-color: white; ">
                            <img src="~/assets/demo/demo6/media/img/logo/gift.png" style="width:20%;float:left;margin-top: 10%; margin-left:10px" />
                            <div class="m-widget24">
                                <div class="m-widget24__item" style="color:green!important">
                                    <p style="color: green !important; float: none; text-align: center; font-weight: 700; font-size: 20px; margin-top: 10%;">
                                        <span style="color: #18773B !important; font-size: 15px; border-radius: 10px; border: 4px solid green; padding: 5px 9px 5px 9px; box-shadow: 2px 2px 5px 2px #c1c1c1;  width: 80%">
                                            @{
                                                if (outlettype == 0)
                                                {
                                                    <span style="color: #18773B">@(Model.ToTalSetHNKNorth) (North)</span>
                                                    <span style="color: #18773B">@(Model.ToTalSetHNK - Model.ToTalSetHNKNorth) (South)</span>
                                                }
                                                else
                                                {
                                                    <span style="color: #18773B">@Model.ToTalSetHNK</span>
                                                }
                                                <br style="padding:5px" /><h3 style="text-align: center; font-weight: 700; font-size: 14px"> SET HEINEKEN ĐÃ SỬ DỤNG</h3>
                                            }
                                            @*<span style="color: #18773B">@Model.ToTalSetHNK.ToString("N0", System.Globalization.CultureInfo.InvariantCulture)</span> 
                                       
                                        <br style="padding:5px" /><h3 style="text-align: center; font-weight: 700; font-size: 14px"> SET HEINEKEN ĐÃ SỬ DỤNG</h3>*@
                                    </p>

                                </div>
                            </div>
                        </div>

                        <div class="col-md-12 col-lg-6 col-xl-3" style="border-radius: 10px; border-right: 5px solid green; background-color: white; ">
                            <img src="~/assets/demo/demo6/media/img/logo/gift.png" style="width:20%;float:left;margin-top: 10%; margin-left:10px" />
                            <div class="m-widget24">
                                <div class="m-widget24__item" style="color:green!important">
                                    <p style="color: green !important; float: none; text-align: center; font-weight: 700; font-size: 20px; margin-top: 10%;">
                                        <span style="color: #18773B !important; font-size: 15px; border-radius: 10px; border: 4px solid green; padding: 5px 9px 5px 9px; box-shadow: 2px 2px 5px 2px #c1c1c1;  width: 80%">
                                           @{
                                               if (outlettype == 0)
                                               {
                                                   <span style="color: #18773B">@(Model.ToTalSetTigerNorth) (North)</span>
                                                   <span style="color: #18773B">@(Model.ToTalSetTIGER - Model.ToTalSetTigerNorth) (South)</span>
                                               }
                                               else
                                               {
                                                    <span style="color: #18773B">@Model.ToTalSetTIGER</span>
                                               }
                                               <br style="padding:5px" /><h3 style="text-align: center; font-weight: 700; font-size: 14px"> SET TIGER ĐÃ SỬ DỤNG</h3>
                                           }
                                            
</p>

                                </div>
                            </div>
                        </div>

                        <div class="col-md-12 col-lg-6 col-xl-3" style="border-radius: 10px; border-right: 5px solid green; background-color: white; ">
                            <img src="~/assets/demo/demo6/media/img/logo/gift.png" style="width:20%;float:left;margin-top: 10%; margin-left:10px" />
                            <div class="m-widget24">
                                <div class="m-widget24__item" style="color:green!important">
                                    <p style="color: green !important; float: none; text-align: center; font-weight: 700; font-size: 20px; margin-top: 10%;">
                                        <span style="color: #18773B !important; font-size: 15px; border-radius: 10px; border: 4px solid green; padding: 5px 9px 5px 9px; box-shadow: 2px 2px 5px 2px #c1c1c1;  width: 80%">
                                            @{
                                                if (outlettype == 0)
                                                {
                                                      <span style="color: #18773B">@Model.ToTalSetSB (South)</span>
                                                }
                                                else
                                                {
                                                      <span style="color: #18773B">@Model.ToTalSetSB</span>
                                                }
                                            }
                                          
                                        <br style="padding:5px" /><h3 style="text-align: center; font-weight: 700; font-size: 14px"> SET STRONGBOW ĐÃ SỬ DỤNG</h3>
                                    </p>

                                </div>
                            </div>
                        </div>

                        @*<div class="col-md-12 col-lg-6 col-xl-3" style="border-radius: 10px;    background-color: white; ">
                            <img src="~/assets/demo/demo6/media/img/logo/trolley.png" style="width:30%;float:left;margin: 12px;" />
                            <div class="m-widget24">
                                <div class="m-widget24__item" style="color:green!important">
                                    <p style="color: green !important; float: none; text-align: center; font-weight: 700; font-size: 20px; margin-top: 10%;">
                                        <span style="color: #18773B !important; font-size: 25px; border-radius: 10px; border: 4px solid green; padding: 5px 35px 5px 35px ; box-shadow: 2px 2px 5px 2px #c1c1c1;  width: 80%"> <span style="color:red">@Model.ToTalTakeOff.ToString("N0", System.Globalization.CultureInfo.InvariantCulture)</span></span>
                                        <br style="padding:5px" /><h3 style="text-align: center; font-weight: 700; font-size: 14px">SẢN LƯỢNG</h3>
                                    </p>
                                </div>
                            </div>
                        </div>*@
                    </div>
                </div>
            </div>
        </div>

        <div class="col-lg-12">
            <div class="row m-row--no-padding m-row--col-separator-xl" style="background-color: white;border-radius:10px;border:2px solid white">
                <div class="col-md-12">
                    <h3 class="m-widget14__title" style="background-color: #10522B; color: white; text-align: center; border-radius: 10px 10px 0px 0px; padding: 5px;">
                        THỐNG KÊ SET QUÀ THEO ĐỊA BÀN
                    </h3>
                    <div class="chart-container" id="divlonvbl" style="overflow:auto">
                        <canvas id="myBarChart"></canvas>
                    </div>
                    @if (role == "Master")
                    {
                        <div class="row" style="margin-top:15px">
                            <div class="chart-container" id="divlonvbl3" style="overflow:auto">
                                <canvas id="myBarChartTINH"></canvas>
                            </div>
                        </div>
                    }
                    @{
                        if (User.Identity.Name == "baoanh")
                        {
                            <div class="row" style="margin-top:15px">
                                <div class="chart-container" id="divlonvbl4" style="overflow:auto">
                                    <canvas id="myBarChartTINH2"></canvas>
                                </div>
                            </div>
                        }
                    }
                    <div class="col-md-12" style="overflow:auto">
                        <div style="text-align:center">
                            <img src="~/Images/Chart/logoken.png" style="width:50px;height:50px" />
                            <img src="~/Images/Chart/ken1.png" style="width: 20px;height:20px " />
                            <img src="~/Images/Chart/ken2.png" style="width: 20px;height:20px " />
                            <img src="~/Images/Chart/logotiger.png" style="width:50px;height:50px" />
                            <img src="~/Images/Chart/ti1.png" style="width: 20px;height:20px " />
                            <img src="~/Images/Chart/ti2.png" style="width: 20px;height:20px " />
                            <img src="~/Images/Chart/sb.jpg" style="width:50px;height:50px" />
                            <img src="~/Images/Chart/sb1.png" style="width: 20px;height:20px " />
                            <img src="~/Images/Chart/sb2.png" style="width: 20px;height:20px " />
                            <img src="~/Images/Chart/ken1.png" style="margin-left: 2%; width: 20px; height: 20px" />
                            <img src="~/Images/Chart/ti1.png" style="width: 20px;height:20px " />
                            <img src="~/Images/Chart/sb1.png" style="width: 20px;height:20px " />Thực Tế
                            <img src="~/Images/Chart/ken2.png" style="margin-left: 2%; width: 20px; height: 20px" />
                            <img src="~/Images/Chart/ti2.png" style="width: 20px;height:20px " />
                            <img src="~/Images/Chart/sb2.png" style="width: 20px;height:20px " />Kế Hoạch
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
@{
    if (User.Identity.Name == "baoanh" || User.Identity.Name == "admp2p")
    {
        <div style="float: right; margin-top: 1%">
            @using (Html.BeginForm("ExportExcel", "Home"))
            {
                <button type="submit" style="">...</button>
            }
        </div>
    }
}

<script type="text/javascript" charset="utf-8">
    if ('@pass' == "123456") {
        window.onload = function () {
            ChangePass();
        };
    }


    var takeoff1 = $("#divlonvbl").width();
    $("#myBarChart").height((takeoff1) / 5.5);
    @if(region.Count() < 2)
    {
        <text>  $("#myBarChart").width(takeoff1 / 1.2);</text>
    }
    else
    {
         <text>  $("#myBarChart").width(takeoff1 * 3);</text>
    }

    var takeoff1 = $("#divlonvbl").width();
    $("#myBarChart").height((takeoff1) / 5.5);
    @if(region.Count() < 2)
    {
        <text>  $("#myBarChart").width(takeoff1 / 1.2);</text>
    }
    else
    {
        <text>  $("#myBarChart").width(takeoff1 * 3);</text>
    }

    var brand = [];
    var dataken = [];
    var datakenplan = [];
    var datatiger = [];
    var datatigerplan = [];
    var datasb = [];
    var datasbplan = [];
    var dinhmuc;

    @for (int i = 0; i < region.Count(); i++)
    {
        var abc = Html.Raw(region[i].RegionName);

            <text>brand.push('@abc');</text>
    }

    @for (int z = 0; z < region.Count(); z++)
    {
        for (int i = 0; i < brand.Count(); i++)
        {
            if(i==0)
            {
                var query = Model.list.ToList().Where(p => p.BrandName == brand[i].BrandName && p.RegionID == region[z].ID);
                var queryregion = regionOulet.Where(p => p.RegionID == region[z].ID);
                if (query.Count() >   0)
                {
                    <text>dataken.push(@query.FirstOrDefault().NumberSet);</text>
                }
                else
                {
                    <text>dataken.push(0);</text>
                }
                if (queryregion.Count() > 0)
                {
                    <text>datakenplan.push(@queryregion.FirstOrDefault().NunberOutlet);</text>
                    <text>dinhmuc = '@queryregion.ToList().Sum(p => p.NunberOutlet).ToString()'; </text>
                }
                else
                {
                    <text>datakenplan.push(0);</text>
                }
            }
            if(i==1)
            {
                var query = Model.list.ToList().Where(p => p.BrandName == brand[i].BrandName && p.RegionID == region[z].ID);
                 var queryregion = regionOulet.Where(p => p.RegionID == region[z].ID);
                if (query.Count() > 0)
                {
                    <text>datatiger.push(@query.FirstOrDefault().NumberSet);</text>
                }
                else
                {
                    <text>datatiger.push(0);</text>
                }
                if (queryregion.Count() > 0)
                {
                    <text>datatigerplan.push(@queryregion.FirstOrDefault().NunberOutlet);</text>
                }
                else
                {
                    <text>datatigerplan.push(0);</text>
                }
            }
            
            if(i==2)
            {
                var query = Model.list.ToList().Where(p => p.BrandName == brand[i].BrandName && p.RegionID == region[z].ID);
                 var queryregion = regionOulet.Where(p => p.RegionID == region[z].ID);
                if (query.Count() > 0)
                {
                    <text>datasb.push(@query.FirstOrDefault().NumberSet);</text>
                }
                else
                {
                    <text>datasb.push(0);</text>
                }
                if (queryregion.Count() > 0)
                {
                    <text>datasbplan.push(@queryregion.FirstOrDefault().NunberOutlet);</text>
                }
                else
                {
                    <text>datasbplan.push(0);</text>
                }
            }

        }
    }

    var canvas = document.getElementById('myBarChart');
    if (canvas.getContext) {
        debugger;
        var ctx = canvas.getContext('2d');
        ctx.fillRect(50, 50, 200, 200);
        ctx.clearRect(45, 45, 60, 60);
        ctx.strokeRect(50, 50, 50, 50);
    }

    $(document).ready(function () {
        var data = {
            labels: brand,
            datasets: [{
                label: '',
                data: dataken,
                fillColor: "#1fb151"
            }, {
                label: '',
                data: datakenplan,
                fillColor: "#94ca54"
            }, {
                label: '',
                data: datatiger,
                fillColor: "#2865b0"
            }, {
                label: '',
                data: datatigerplan,
                fillColor: "#679fd6"
            }, {
                label: '',
                data: datasb,
                fillColor: "#827717"
            }, {
                label: '',
                data: datasbplan,
                fillColor: "#bea86f"
            }
            ]
        };


        var ctx = $("#myBarChart").get(0).getContext("2d");
        var myBarChart = new Chart(ctx).Bar(data, {
            showTooltips: false,
            onAnimationComplete: function () {

                var ctx = this.chart.ctx;
                if ('@_re' == 1) {
                    ctx.font = '25pt Calibri';
                    ctx.fillStyle = 'red';
                    ctx.textAlign = "center";
                    ctx.textBaseline = "top";
                    this.datasets.forEach(function (dataset) {
                        dataset.bars.forEach(function (bar) {
                            ctx.fillText(bar.value, bar.x, bar.y + 50);
                            var hcm = Math.round((bar.value / dinhmuc) * 100);
                            if (hcm != 100) {
                                var _hcm = hcm + '%';
                                ctx.fillText(_hcm, bar.x, bar.y);
                            }
                        });
                    })
                }
                else {
                    ctx.font = this.scale.font;
                    ctx.fillStyle = this.scale.textColor.red
                    ctx.textAlign = "center";
                    ctx.textBaseline = "bottom";
                    this.datasets.forEach(function (dataset) {
                        dataset.bars.forEach(function (bar) {
                            ctx.fillText(bar.value, bar.x, bar.y);
                        });
                    })
                }

            }
        })
    });

</script>

<script type="text/javascript" charset="utf-8">
    var takeoff = $("#divlonvbl").width();
    var takeoff1 = $("#divlonvbl3").width();
    $("#myBarChartTINH").height((takeoff1));
    @if (regionHCM.Count() < 2)
    {
        <text>  $("#myBarChartTINH").width(takeoff);</text>
    }
    else
    {
         <text>  $("#myBarChartTINH").width(takeoff);</text>
    }

    var brand3 = [];
    var dataken3 = [];
    var datakenplan3 = [];
    var datatiger3 = [];
    var datatigerplan3 = [];
    var datasb3 = [];
    var datasbplan3 = [];
    var dinhmuctinh;
    var dinhmuchcm;
    brand3.push('TỈNH');
    brand3.push('HCM');
    @for (int i = 0; i < brand.Count(); i++)
        {
            if(i==0)
            {
                var query = Model.list.ToList().Where(p => p.BrandName == brand[i].BrandName && p.RegionID != 12);
                var queryregion = regionOulet.Where(p => p.RegionID != 12);
                if (query.Count() >   0)
                {
                    <text>dataken3.push(@query.ToList().Sum(p=>p.NumberSet).ToString());</text>
                }
                else
                {
                    <text>dataken3.push(0);</text>
                }
                if (queryregion.Count() > 0)
                {
                    <text>datakenplan3.push(@queryregion.ToList().Sum(p=>p.NunberOutlet).ToString());</text>
                    <text>dinhmuctinh = '@queryregion.ToList().Sum(p => p.NunberOutlet).ToString()'; </text>
                }
                else
                {
                    <text>datakenplan3.push(0);</text>
                    <text>dinhmuctinh = '0'; </text>
                }

                var query2 = Model.list.ToList().Where(p => p.BrandName == brand[i].BrandName && p.RegionID == 12);
                var queryregion2 = regionOulet.Where(p => p.RegionID == 12);
                if (query2.Count() >   0)
                {
                    <text>dataken3.push(@query2.ToList().Sum(p=>p.NumberSet).ToString());</text>
                    <text>dinhmuchcm = '@queryregion2.ToList().Sum(p => p.NunberOutlet).ToString()'; </text>
                }
                else
                {
                    <text>dataken3.push(0);</text>
                    <text>dinhmuchcm = '0'; </text>
                }
                if (queryregion2.Count() > 0)
                {
                    <text>datakenplan3.push(@queryregion2.ToList().Sum(p=>p.NunberOutlet).ToString());</text>
                }
                else
                {
                    <text>datakenplan3.push(0);</text>
                }
            }
            if(i==1)
            {
                var query = Model.list.ToList().Where(p => p.BrandName == brand[i].BrandName && p.RegionID != 12);
                var queryregion = regionOulet.Where(p => p.RegionID != 12);
                if (query.Count() > 0)
                {
                    <text>datatiger3.push(@query.ToList().Sum(p => p.NumberSet).ToString());</text>
                }
                else
                {
                    <text>datatiger3.push(0);</text>
                }
                if (queryregion.Count() > 0)
                {
                    <text>datatigerplan3.push(@queryregion.ToList().Sum(p => p.NunberOutlet).ToString());</text>
                }
                else
                {
                    <text>datatigerplan3.push(0);</text>
                }
                var query2 = Model.list.ToList().Where(p => p.BrandName == brand[i].BrandName && p.RegionID == 12);
                var queryregion2 = regionOulet.Where(p => p.RegionID == 12);
                if (query2.Count() > 0)
                {
                    <text>datatiger3.push(@query2.ToList().Sum(p => p.NumberSet).ToString());</text>
                }
                else
                {
                    <text>datatiger3.push(0);</text>
                }
                if (queryregion2.Count() > 0)
                {
                    <text>datatigerplan3.push(@queryregion2.ToList().Sum(p => p.NunberOutlet).ToString());</text>
                }
                else
                {
                    <text>datatigerplan3.push(0);</text>
                }
            }
            
            if(i==2)
            {
                var query = Model.list.ToList().Where(p => p.BrandName == brand[i].BrandName && p.RegionID != 12);
                var queryregion = regionOulet.Where(p => p.RegionID != 12);
                if (query.Count() > 0)
                {
                    <text>datasb3.push(@query.ToList().Sum(p => p.NumberSet).ToString());</text>
                }
                else
                {
                    <text>datasb3.push(0);</text>
                }
                if (queryregion.Count() > 0)
                {
                    <text>datasbplan3.push(@queryregion.ToList().Sum(p => p.NunberOutlet).ToString());</text>
                }
                else
                {
                    <text>datasbplan3.push(0);</text>
                }
                var query2 = Model.list.ToList().Where(p => p.BrandName == brand[i].BrandName && p.RegionID == 12);
                var queryregion2 = regionOulet.Where(p => p.RegionID == 12);
                if (query2.Count() > 0)
                {
                    <text>datasb3.push(@query2.ToList().Sum(p => p.NumberSet).ToString());</text>
                }
                else
                {
                    <text>datasb3.push(0);</text>
                }
                if (queryregion2.Count() > 0)
                {
                    <text>datasbplan3.push(@queryregion2.ToList().Sum(p => p.NunberOutlet).ToString());</text>
                }
                else
                {
                    <text>datasbplan3.push(0);</text>
                }
            }
    }

    var canvas = document.getElementById('myBarChartTINH');
    if (canvas.getContext) {
        debugger;
        var ctx = canvas.getContext('2d');
        ctx.fillRect(50, 50, 200, 200);
        ctx.clearRect(45, 45, 60, 60);
        ctx.strokeRect(50, 50, 50, 50);
    }

    $(document).ready(function () {
        var data = {
            labels: brand3,
            datasets: [{
                label: '',
                data: dataken3,
                fillColor: "#1fb151"
            }, {
                label: '',
                data: datakenplan3,
                fillColor: "#94ca54"
            }, {
                label: '',
                data: datatiger3,
                fillColor: "#2865b0"
            }, {
                label: '',
                data: datatigerplan3,
                fillColor: "#679fd6"
            }, {
                label: '',
                data: datasb3,
                fillColor: "#827717"
            }, {
                label: '',
                data: datasbplan3,
                fillColor: "#bea86f"
            }

            ]
        };


        var ctx = $("#myBarChartTINH").get(0).getContext("2d");
        var myBarChart = new Chart(ctx).Bar(data, {
            showTooltips: false,
            onAnimationComplete: function () {
                var ctx = this.chart.ctx;
                ctx.font = '20pt Calibri';
                ctx.fillStyle = 'red';
                ctx.textAlign = "center";
                ctx.textBaseline = "top";

                this.datasets.forEach(function (dataset) {
                    debugger;

                    dataset.bars.forEach(function (bar) {
                        var tinh = Math.round((bar.value / dinhmuctinh) * 100);

                        if (bar.label == 'TỈNH') {
                            ctx.fillText(bar.value, bar.x, bar.y + 30);
                            if (tinh != 100) {
                                var _tinh = tinh + '%';
                                ctx.fillText(_tinh, bar.x, bar.y - 20);
                            }
                        }
                        else {
                            ctx.fillText(bar.value, bar.x, bar.y + 30);
                            if (bar.label == 'HCM') {
                                var hcm = Math.round((bar.value / dinhmuchcm) * 100);
                                if (hcm != 100) {
                                    var _hcm = hcm + '%';
                                    ctx.fillText(_hcm, bar.x, bar.y - 20);
                                }
                            }
                        }
                    });
                })
            }
        })
    });

</script>
<script type="text/javascript" charset="utf-8">
    var takeoff = $("#divlonvbl").width();
    var takeoff2 = $("#divlonvbl4").width();
    $("#myBarChartTINH2").height((takeoff2));
    @if (regionHCM.Count() < 2)
    {
        <text>  $("#myBarChartTINH2").width(takeoff);</text>
    }
    else
    {
         <text>  $("#myBarChartTINH2").width(takeoff);</text>
    }

    var brand4 = [];
    var dataken4 = [];
    var datakenplan4 = [];
    var datatiger4 = [];
    var datatigerplan4 = [];
    var datasb4 = [];
    var datasbplan4 = [];
    var dinhmuctinh1;
    brand4.push('TỈNH');
    @for (int i = 0; i < brand.Count(); i++)
        {
            if(i==0)
            {
                var query = Model.list.ToList().Where(p => p.BrandName == brand[i].BrandName && p.RegionID != 12);
                var queryregion = regionOulet.Where(p => p.RegionID != 12);
                if (query.Count() >   0)
                {
                    <text>dataken4.push(@query.ToList().Sum(p=>p.NumberSet).ToString());</text>
                }
                else
                {
                    <text>dataken4.push(0);</text>
                }
                if (queryregion.Count() > 0)
                {
                    <text>datakenplan4.push(@queryregion.ToList().Sum(p=>p.NunberOutlet).ToString());</text>
                    <text>dinhmuctinh1 = '@queryregion.ToList().Sum(p => p.NunberOutlet).ToString()'; </text>
                }
                else
                {
                    <text>datakenplan4.push(0);</text>
                }
            }
            if(i==1)
            {
                var query = Model.list.ToList().Where(p => p.BrandName == brand[i].BrandName && p.RegionID != 12);
                var queryregion = regionOulet.Where(p => p.RegionID != 12);
                if (query.Count() > 0)
                {
                    <text>datatiger4.push(@query.ToList().Sum(p => p.NumberSet).ToString());</text>
                }
                else
                {
                    <text>datatiger4.push(0);</text>
                }
                if (queryregion.Count() > 0)
                {
                    <text>datatigerplan4.push(@queryregion.ToList().Sum(p => p.NunberOutlet).ToString());</text>
                }
                else
                {
                    <text>datatigerplan4.push(0);</text>
                }
            }
             if(i==2)
            {
                var query = Model.list.ToList().Where(p => p.BrandName == brand[i].BrandName && p.RegionID != 12);
                var queryregion = regionOulet.Where(p => p.RegionID != 12);
                if (query.Count() > 0)
                {
                    <text>datasb4.push(@query.ToList().Sum(p => p.NumberSet).ToString());</text>
                }
                else
                {
                    <text>datasb4.push(0);</text>
                }
                if (queryregion.Count() > 0)
                {
                    <text>datasbplan4.push(@queryregion.ToList().Sum(p => p.NunberOutlet).ToString());</text>
                }
                else
                {
                    <text>datasbplan4.push(0);</text>
                }
            }
            
    }

    var canvas = document.getElementById('myBarChartTINH2');
    if (canvas.getContext) {
        debugger;
        var ctx = canvas.getContext('2d');
        ctx.fillRect(50, 50, 200, 200);
        ctx.clearRect(45, 45, 60, 60);
        ctx.strokeRect(50, 50, 50, 50);
    }

    $(document).ready(function () {
        var data = {
            labels: brand4,
            datasets: [{
                label: '',
                data: dataken4,
                fillColor: "#1fb151"
            }, {
                label: '',
                data: datakenplan4,
                fillColor: "#94ca54"
            }, {
                label: '',
                data: datatiger4,
                fillColor: "#2865b0"
            }, {
                label: '',
                data: datatigerplan4,
                fillColor: "#679fd6"
            }, {
                label: '',
                data: datasb3,
                fillColor: "#827717"
            }, {
                label: '',
                data: datasbplan3,
                fillColor: "#bea86f"
            }
            ]
        };


        var ctx = $("#myBarChartTINH2").get(0).getContext("2d");
        var myBarChart = new Chart(ctx).Bar(data, {
            showTooltips: false,
            onAnimationComplete: function () {

                var ctx = this.chart.ctx;
                ctx.font = '20pt Calibri';
                ctx.fillStyle = 'red';
                ctx.textAlign = "center";
                ctx.textBaseline = "top";

                this.datasets.forEach(function (dataset) {
                    debugger;

                    dataset.bars.forEach(function (bar) {
                        var tinh2 = Math.round((bar.value / dinhmuctinh1) * 100);
                        if (bar.label == 'TỈNH') {
                            ctx.fillText(bar.value, bar.x, bar.y + 30);
                            if (tinh2 != 100) {
                                var _tinh2 = tinh2 + '%';
                                ctx.fillText(_tinh2, bar.x, bar.y - 20);
                            }
                        }
                    });
                })
            }
        })
    });

</script>