﻿<!DOCTYPE html>
<html lang="en">
<head>
    <style>
    .m-body .m-content {
        padding: 0px 0px 0px 0px !important;
    }
</style>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>@ViewBag.Title - Báo Cáo</title>
    <link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon" />
    <meta name="viewport" content="width=device-width" />
    <link href="~/Content/Site.css" rel="stylesheet" />
    <link href="~/assets/charts/styles.css" rel="stylesheet" />
    <link href="~/assets/vendors/custom/datatables/datatables.bundle.css" rel="stylesheet" />
    <link href="~/assets/vendors/base/vendors.bundle.css" rel="stylesheet" />
    <link href="~/assets/demo/demo6/base/style.bundle.css" rel="stylesheet" />
    <link href="~/assets/vendors/custom/fullcalendar/fullcalendar.bundle.css" rel="stylesheet" />
    <link href="~/Content/chosen.css" rel="stylesheet" />
    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <script src="~/assets/vendors/base/vendors.bundle.js"></script>
    <script src="~/assets/demo/demo6/base/scripts.bundle.js"></script>
    <script src="~/assets/vendors/custom/fullcalendar/fullcalendar.bundle.js"></script>
    <script src="~/assets/app/js/dashboard.js"></script>
    <script src="~/assets/vendors/custom/datatables/datatables.bundle.js"></script>   
    @*<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>*@

    <script src="~/Scripts/ui.js"></script>
    <script src="~/Scripts/Chart.js"></script>
    <script src="~/Scripts/chosen.jquery.js"></script>
    <script src="~/Scripts/chosen.proto.min.js"></script>
    <link href="~/Content/loading.css" rel="stylesheet" />
</head>

<body  class="m-page--fluid m--skin- m-content--skin-light2 m-header--fixed m-header--fixed-mobile m-aside-left--enabled m-aside-left--skin-light m-aside-left--fixed m-aside-left--offcanvas m-aside-left--minimize m-brand--minimize m-footer--push m-aside--offcanvas-default" style="overflow-x: hidden; font-family: Arial!important">
    @*<div class="m-grid m-grid--hor m-grid--root m-page" style="background-image: url(../../../Images/BGLayoutHeineken.png);">*@
        <div class="m-grid m-grid--hor m-grid--root m-page" style="background-image: url(https://sp20.imark.com.vn/Report/Images/BGLayoutHeineken.png);">
            <header id=" m_header" class="m-grid__item    m-header " style="height:0px">
                <div class="m-container m-container--fluid m-container--full-height">
                    <div class="m-stack m-stack--ver m-stack--desktop" style="background-color: #eee">
                        <!-- BEGIN: Brand -->
                        <div class="m-stack__item m-brand  m-brand--skin-light ">
                            <div class="m-stack m-stack--ver m-stack--general">
                                <div class="m-stack__item m-stack__item--middle m-brand__logo">
                                    <a href="#" class="m-brand__logo-wrapper">
                                        <img src="~/Images/logo1.png" style="width: 100%;" />
                                    </a>
                                </div>
                                @*Show menu - mobile*@
                                <div class="m-stack__item m-stack__item--middle m-brand__tools">
                                    <a href="javascript:;" id="m_aside_left_offcanvas_toggle" class="m-brand__icon m-brand__toggler m-brand__toggler--left m--visible-tablet-and-mobile-inline-block">
                                        <span></span>
                                    </a>
                                    <a id="m_aside_header_menu_mobile_toggle" href="javascript:;" class="m-brand__icon m-brand__toggler m--visible-tablet-and-mobile-inline-block">
                                        <span></span>
                                    </a>
                                    <!-- END -->
                                    <!-- BEGIN: Topbar Toggler -->
                                    <a id="m_aside_header_topbar_mobile_toggle" href="javascript:;" class="m-brand__icon m--visible-tablet-and-mobile-inline-block">
                                        <i class="flaticon-more"></i>
                                    </a>
                                    <!-- BEGIN: Topbar Toggler -->
                                </div>
                            </div>
                        </div>
                        <!-- END: Brand -->
                        <div class="m-stack__item m-stack__item--fluid m-header-head" id="m_header_nav">
                            <!-- BEGIN: Horizontal Menu -->

                            <button class="m-aside-header-menu-mobile-close  m-aside-header-menu-mobile-close--skin-light " id="m_aside_header_menu_mobile_close_btn"><i class="la la-close"></i></button>
                            @*menu*@
                            <div id="m_header_menu" class="m-header-menu m-aside-header-menu-mobile m-aside-header-menu-mobile--offcanvas  m-header-menu--skin-light m-header-menu--submenu-skin-light m-aside-header-menu-mobile--skin-light m-aside-header-menu-mobile--submenu-skin-light ">
                                @Html.MvcSiteMap().Menu("MetronicMenuHelperModel")
                            </div>
                            <!-- END: Horizontal Menu -->
                            <!-- BEGIN: Topbar -->
                            @*login partial*@
                            <div id="m_header_topbar" class="m-topbar  m-stack m-stack--ver m-stack--general">
                                <div class="m-stack__item m-topbar__nav-wrapper">
                                    <ul class="m-topbar__nav m-nav m-nav--inline">
                                        <li class="m-nav__item m-topbar__user-profile  m-dropdown m-dropdown--medium m-dropdown--arrow  m-dropdown--align-right m-dropdown--mobile-full-width m-dropdown--skin-light" m-dropdown-toggle="click">
                                            @{ Html.RenderAction("_LoginPartial", "Account"); }
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            <!-- END: Topbar -->
                        </div>
                    </div>
                </div>
            </header>
            @*menu bar left*@
            <div class="m-grid__item m-grid__item--fluid m-grid m-grid--ver-desktop m-grid--desktop m-body" style="background-image: url(https://sp20.imark.com.vn/Report/Images/BGLayoutHeineken.png); -webkit-background-size: cover; -moz-background-size: cover; -o-background-size: cover; background-size: cover; ">
                <div class="m-grid__item m-grid__item--fluid m-wrapper">
                    @RenderBody()
                </div>
            </div>
            <footer class="m-grid__item		m-footer " style="margin-left:0px!important;background-color:#eee">
                <div class="m-container m-container--fluid m-container--full-height m-page__container">
                    <div class="m-stack m-stack--flex-tablet-and-mobile m-stack--ver m-stack--desktop">
                        <div class="m-stack__item m-stack__item--left m-stack__item--middle m-stack__item--last">
                            <span class="m-footer__copyright">
                                @DateTime.Now.Year
                            </span>
                        </div>
                        <div class="m-stack__item m-stack__item--right m-stack__item--middle m-stack__item--first">
                            <ul class="m-footer__nav m-nav m-nav--inline m--pull-right">
                                <li class="m-nav__item">
                                    <a href="#" class="m-nav__link">
                                        <span class="m-nav__link-text">Trợ Giúp</span>
                                    </a>
                                </li>
                                <li class="m-nav__item m-nav__item">
                                    <a href="#" class="m-nav__link" data-toggle="m-tooltip" title="Support Center" data-placement="left">
                                        <i class="m-nav__link-icon flaticon-info m--icon-font-size-lg3"></i>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </footer>
        </div>
    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document"></div>
    </div>
    <script type="text/javascript">
        jQuery(document).ready(function () {
            $(".chosen-select").chosen();
            $(".chosen-container").css("width", "100%");
            $(".chosen-container").css("height", "30px!important");
        });
    </script>
    <div class="loading" id="loading" style="display:none;">Loading</div>

</body>

</html>