﻿<!DOCTYPE html>
<html lang="en">
<head>
    <style>
        .m-body .m-content {
            padding: 0px 0px 0px 0px !important;
        }
    </style>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>@ViewBag.Title - Báo Cáo</title>
    <link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon" />
    <meta name="viewport" content="width=device-width" />
    <link href="~/Content/Site.css" rel="stylesheet" />
    <link href="~/assets/charts/styles.css" rel="stylesheet" />
    <link href="~/assets/vendors/custom/datatables/datatables.bundle.css" rel="stylesheet" />
    <link href="~/assets/vendors/base/vendors.bundle.css" rel="stylesheet" />
    <link href="~/assets/demo/demo6/base/style.bundle.css" rel="stylesheet" />
    <link href="~/assets/vendors/custom/fullcalendar/fullcalendar.bundle.css" rel="stylesheet" />
    <link href="~/Content/chosen.css" rel="stylesheet" />
    <link href="~/Content/uicss.css" rel="stylesheet" />
    @*<link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">*@
    <script src="~/assets/vendors/base/vendors.bundle.js"></script>
    <script src="~/assets/demo/demo6/base/scripts.bundle.js"></script>
    <script src="~/assets/vendors/custom/fullcalendar/fullcalendar.bundle.js"></script>
    <script src="~/assets/app/js/dashboard.js"></script>
    <script src="~/assets/vendors/custom/datatables/datatables.bundle.js"></script>
    <script src="~/Scripts/ui.js"></script>
    <script src="~/Scripts/Chart.js"></script>
    <script src="~/Scripts/chosen.jquery.js"></script>
    <script src="~/Scripts/chosen.proto.min.js"></script>

</head>

<body class="m-page--fluid m--skin- m-content--skin-light2 m-header--fixed m-header--fixed-mobile m-aside-left--enabled m-aside-left--skin-light m-aside-left--fixed m-aside-left--offcanvas m-aside-left--minimize m-brand--minimize m-footer--push m-aside--offcanvas-default" style="overflow-x: hidden; font-family: Arial!important">
    <div class="m-grid m-grid--hor m-grid--root m-page" style="background-image: url(../../../Images/BGLayoutHeineken.png);">
        <header id=" m_header" class="m-grid__item    m-header " style="height:0px">
            <div class="m-container m-container--fluid m-container--full-height">
                <div class="m-stack m-stack--ver m-stack--desktop">
                    <!-- BEGIN: Brand -->
                    <div id="m_header_topbar" class="m-topbar  m-stack m-stack--ver m-stack--general">
                        <div class="m-stack__item m-topbar__nav-wrapper">
                            <ul class="m-topbar__nav m-nav m-nav--inline">
                                <li class="m-nav__item m-topbar__user-profile  m-dropdown m-dropdown--medium m-dropdown--arrow  m-dropdown--align-right m-dropdown--mobile-full-width m-dropdown--skin-light" m-dropdown-toggle="click">
                                  @*  @{ Html.RenderAction("_LoginPartial", "Account"); }*@
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="m-stack__item m-stack__item--fluid m-header-head" id="m_header_nav">
                <div id="m_header_topbar" class="m-topbar  m-stack m-stack--ver m-stack--general">
                    <div class="m-stack__item m-topbar__nav-wrapper">
                        <ul class="m-topbar__nav m-nav m-nav--inline">
                            <li class="m-nav__item m-topbar__user-profile  m-dropdown m-dropdown--medium m-dropdown--arrow  m-dropdown--align-right m-dropdown--mobile-full-width m-dropdown--skin-light" m-dropdown-toggle="click">
                                @{ Html.RenderAction("_LoginPartial", "Account"); }
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </header>
            @*menu bar left*@
            <div class="m-grid__item m-grid__item--fluid m-grid m-grid--ver-desktop m-grid--desktop m-body" style="background-image: url(../../../Images/BGLayoutHeineken.png); -webkit-background-size: cover; -moz-background-size: cover; -o-background-size: cover; background-size: cover; ">
                <div class="m-grid__item m-grid__item--fluid m-wrapper" style="margin-top: 10px;">
                    @RenderBody()
                </div>
            </div>
            <footer class="m-grid__item		m-footer " style="margin-left:0px!important;background-color:#eee">
                <div class="m-container m-container--fluid m-container--full-height m-page__container">
                    <div class="m-stack m-stack--flex-tablet-and-mobile m-stack--ver m-stack--desktop">
                        <div class="m-stack__item m-stack__item--left m-stack__item--middle m-stack__item--last">
                            <span class="m-footer__copyright">
                                @DateTime.Now.Year 
                            </span>
                        </div>
                    </div>
                </div>
            </footer>
        </div>
    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document"></div>
    </div>
</body>
</html>