﻿@model List<Business.Stock>

@{
    Layout = null;
    List<Business.Product> product = ViewBag.product;
    var user = ViewBag.UserRole;
}

<div class="modal-dialog" role="document">
    <div class="modal-content">
        <div class="modal-header" style="background-color:#10522B">
            <h5 class="modal-title" id="exampleModalLabel" style="color: white">CẬP NHẬT KHO</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close" id="close-modal">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="modal-body">
            <div style="overflow: auto; height: 400px">
                <div id="rates">
                    @if (Model.Count() > 0)
                    {
                        if (Model.FirstOrDefault().NumberType == 1)
                        {
                            <text>
                                <input type="radio" id="r1" name="rate" value="1" checked="checked"> Chỉ đếm số lượng hàng hóa trong line, Ụ, kệ trưng bày
                                <br />
                                <input type="radio" id="r2" name="rate" value="0"> Số lượng đã bao gồm hàng hóa trong kho
                            </text>
                        }
                        else
                        {
                            <text>
                                <input type="radio" id="r1" name="rate" value="1"> Chỉ đếm số lượng hàng hóa trong line, Ụ, kệ trưng bày
                                <br />
                                <input type="radio" id="r2" name="rate" value="0" checked="checked"> Số lượng đã bao gồm hàng hóa trong kho
                            </text>
                        }
                    }
                    else
                    {
                        <text>
                    <input type="radio" id="r1" name="rate" value="1" checked="checked"> Chỉ đếm số lượng hàng hóa trong line, Ụ, kệ trưng bày
                            <br />
                            <input type="radio" id="r2" name="rate" value="0"> Số lượng đã bao gồm hàng hóa trong kho
                        </text>
                    }


                </div>
                <br />
                <table class="table table-striped new" border="1" style="border: solid 1px #808080; width: 100%;font-size:10px">
                    <thead>
                        <tr class="active" style="font-size:larger;background-color:#10522B;text-align:center">
                            <td style="color: white;border: solid 1px #808080"><div style="width: 50px">Hình SP</div></td>
                            <td style="color: white;border: solid 1px #808080" width="300"><div style="width: 200px">Tên SP</div></td>
                            <td style="color: white;border: solid 1px #808080" width="200"><div style="width: 10px">Số Liệu của SP</div></td>
                            <td style="color: white;border: solid 1px #808080"><div style="width: 50px">Số Liệu của Sale</div></td>
                        </tr>
                    </thead>
                    <tbody style="border: solid 1px white;font-size:large; width: 100%">
                        @{
                            foreach (var item in product)
                            {
                                var temp = Model.Where(p => p.ProductID == item.ID);
                                if (temp.Count() > 0)
                                {

                                    <tr>
                                        <td style="text-align: center"><img src="@item.FilePath" style="height:30px" /></td>
                                        <td><span>@item.ProductName</span>    </td>
                                        <td>@temp.FirstOrDefault().NumberSP </td>
                                        <td>
                                            @{if (temp.FirstOrDefault().NumberSale == null)
                                            {
                                                <input type="text" id="@item.ID" name="productid" style="height: 30px; width: 70px; text-align:right" value="@temp.FirstOrDefault().NumberSP" />
                                            }
                                            else
                                            {
                                                <input type="text" id="@item.ID" name="productid" style="height: 30px; width: 70px; text-align: right" value="@temp.FirstOrDefault().NumberSale" />
                                            }}

                                        </td>
                                    </tr>
                                }
                                else
                                {
                                    <tr>
                                        <td style="text-align: center"><img src="@item.FilePath" style="height:30px" /></td>
                                        <td><span>@item.ProductName</span>  </td>
                                        <td></td>
                                        <td><input type="text" id="@item.ID" name="productid" style="height: 30px; width: 70px" value="" /></td>
                                    </tr>
                                }
                            }
                        }
                    </tbody>
                </table>
            </div>

            <div class="modal-footer">
                <button type="button" style="background-color: #10522B;color:white" data-dismiss="modal" id="close-modal" onclick="UpdateStockOutlet()">Update</button>
            </div>
        </div>
    </div>
</div>

<script>
    function UpdateStockOutlet() {
        debugger;
        var rates = document.getElementsByName('rate');
        var rate_value;
        for (var i = 0; i < rates.length; i++) {
            if (rates[i].checked) {
                rate_value = rates[i].value;
            }
        }
        var extratitles = document.getElementsByName('productid');
        var strid = '';
        var strvalue = '';
        for (var i = 0; i < extratitles.length; i++) {
            strvalue += '|' + extratitles.item(i).value;
            strid += '|' + extratitles.item(i).id;
        }
        debugger;
        $('#myModal').modal('hide');

        $('#loadingmessage').show();
        $.ajax({
            url: "@Url.Action("Update", "StockManagerForSale")",
            type: 'GET',
            data: { _StockID: strid, _NumberSale: strvalue, _note: rate_value },
            contentType: 'application/json; charset=utf-8',
            datatype: 'html',
            success: function (result) {
                debugger;
                $('#liststockforsale').html(result);
                $('#loadingmessage').hide();

            }
        });
    }
</script>



