﻿@{
    ViewBag.Title = "TimeOut";
}

<img src="~/Images/alert.png" /> <h1 style="color:white">Phiên làm việc đã hết!</h1>
<h2 style="color:yellow">Vui lòng kiểm tra và cập nhật thông tin trước 12:00 sáng mỗi ngày!</h2>
