﻿@model Report.Models.AddOutletModel

@{
    var user = ViewBag.UserRole;
}

<div class="m-content" style="padding-top:0px;border-radius:10px">
    <div class="m-portlet m-portlet--mobile" style="border-radius:10px">
        <div class="m-portlet__head" style="background-color: #10522B; border-radius: 10px 10px 0px 0px;border:2px solid white">
            <div class="m-portlet__head-caption">
                <div class="m-portlet__head-title">
                    <h3 class="m-portlet__head-text" style="color:white">
                        Danh Sách Siêu Thị
                    </h3>
                </div>
            </div>
        </div>

        <div class="m-portlet__body" style="overflow:auto">
            <table class="table table-striped new" id="m_table_outlet">
                <thead style="background-color: #10522B; color: white; text-align: center">
                    <tr>
                        <th>Mã</th>
                        <th>Tên</th>
                        <th>Tỉnh/Thành</th>
                        <th>Quận/Huyện</th>
                        <th>Địa Chỉ</th>
                    </tr>
                </thead>
                <tbody style="color: white">
                    @{ foreach (var item in Model.listData)
                     {
                        <tr>
                            <td >@item.OutletCode</td>
                            <td >@item.OutletName</td>
                            <td >@item.City</td>
                            <td >@item.District</td>
                            <td >@item.OutletAddress</td>
                        </tr>
                     }
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>


<script>
    if(@Model.status == 1){
        setTimeout(function(){
            swal("","@Model.message", "success");
        },0)
    }else if(@Model.status == 2){
        setTimeout(function(){
            swal("","@Model.message", "error");
        },0)
    }
    setTimeout(function(){
        $('#m_table_outlet').DataTable({ "ordering": false });
    },0)
</script>

