﻿@model Report.Models.AddOutletModel
@{
    ViewBag.Title = "Thêm Oultet";
}

<div class="m-content">

    <div class="row">
        <div class="col-md-12">
            <div class="m-portlet m-portlet--mobile" style="border-radius:10px">
                <div class="m-portlet__head" style="background-color: #10522B; border-radius: 10px 10px 0px 0px;border:2px solid white">
                    <div class="m-portlet__head-caption">
                        <div class="m-portlet__head-title">
                            <h3 class="m-portlet__head-text" style="color:white">
                                Chọn file import
                            </h3>
                        </div>
                    </div>
                </div>
                <form class="m-form m-form--fit m-form--label-align-right">

                    <div class="m-portlet__body">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group m-form__group">
                                    <input type="file" id="picfile" name="picf" />
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
                <div class="m-portlet__foot m-portlet__foot--fit">

                    <button type="button" style="background-color: #10522B;color:white" class="btn btn-success" onclick="imporFile()">Import File</button>
                    @using (Html.BeginForm("ExportFormat", "AddOutletTeam"))
                    {
                        <button type="submit" style="background-color: #10522B;color:white" class="btn btn-success">Tải File Format</button>
                    }
                </div>

            </div>
        </div>
    </div>
</div>

<div id='loadingmessage' style='display:none; text-align: -webkit-center;'>
    <img src="~/Images/process.gif" class="loader" />
</div>

<div id="layout-data">
    @{Html.RenderPartial("_List", Model);}
</div>

<script>
    function imporFile() {
        debugger;

        if (document.getElementById("picfile").files.length == 0) {
            swal("", "Chọn file import!", "error");
        }
        else if (document.getElementById("picfile").files[0].name.split(".")[1].toString() != "xls") {
            swal("", "File import phải là file Excel có đuôi .XLS và format giống file Export! Vui lòng kiểm tra lại.", "error");
        }
        else {
            $('#loadingmessage').show();
            var fileImport = document.getElementById("picfile").files[0];
            var formData = new FormData();
            formData.append("FileUpload", fileImport);
            //formData.append("orderID", orderID); // hàng công trình, hàng lẻ

            $.ajax({
                type: "POST",
                url: "@Url.Action("Import", "AddOutletTeam")",
                data: formData,
                dataType: 'html',
                contentType: false,
                processData: false,
                success: function (data) {
                    debugger;
                    $('#layout-data').html(data);
                    $('#loadingmessage').hide();
                }
            });
        }
    }

</script>
