﻿@if (Request.IsAuthenticated)
{
    <text>
        <a href="#" class="m-nav__link m-dropdown__toggle">
            <span class="m-topbar__userpic m--hide">
                <img src="~/assets/app/media/img/users/user4.jpg" class="m--img-rounded m--marginless m--img-centered" alt="" />
            </span>
            <span class="m-nav__link-icon m-topbar__usericon">
                <span class="m-nav__link-icon-wrapper"><i class="flaticon-user-ok"></i></span>
            </span>
            <span class="m-topbar__username m--hide"></span>
        </a>
        <!-- begin::Topbar -->

        <div class="m-dropdown__wrapper">
            <span class="m-dropdown__arrow m-dropdown__arrow--right m-dropdown__arrow--adjust"></span>
            <div class="m-dropdown__inner">
                <div class="m-dropdown__header m--align-center">
                    <div class="m-card-user m-card-user--skin-light">
                        <div class="m-card-user__pic">
                            <img src="~/assets/demo/demo6/media/img/logo/userlogin.png" class="m--img-rounded m--marginless" alt="" />
                        </div>
                        <div class="m-card-user__details">
                            <span class="m-card-user__name m--font-weight-500"><a href="" class="m-card-user__email m--font-weight-300 m-link">Xin Chào,&nbsp; @User.Identity.Name</a></span>
                        </div>
                    </div>
                </div>
                <div class="m-dropdown__body">
                    <div class="m-dropdown__content">
                        <ul class="m-nav m-nav--skin-light">
                            <li class="m-nav__item">
                                <a href="#" onclick="ChangePass()" class="m-nav__link">
                                    <i class="m-nav__link-icon flaticon-lifebuoy"></i>
                                    <span class="m-nav__link-text">Đổi Mật Khẩu</span>
                                </a>
                            </li>
                            <li class="m-nav__separator m-nav__separator--fit">
                            </li>
                            <li class="m-nav__item" style="font-size: large">
                                <i class="flaticon-logout" style="font-size:large;font-weight:600"></i>
                                @Html.ActionLink("Đăng Xuất", "LogOff", "Account")
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </text>
}
<script>
    function ChangePass() {
        debugger;
        $.ajax({
            type: "GET",
            url: '@Url.Action("_ChangePasswordPartial")',
            data: {},
            datatype: "image/jpg",
            success: function (data) {
                $('#myModal').empty();
                $('#myModal').append(data);
                $('#myModal').modal('show');
            }
        });
    }
</script>