﻿@model Report.Models.LoginModel
@{
     ViewBag.Title = "Đăng Nhập";
    Layout = "~/Views/Shared/_LayoutLogin.cshtml";
}
<style>
    .validation-summary-errors
    {
        color:red;
    }
    .m-login.m-login--2 .m-login__wrapper .m-login__container .m-login__form .m-form__group .form-control {
        border: 1px solid green;
    }
    ::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
        color: #004910 !important;
        opacity: 1; /* Firefox */
    }
    :-ms-input-placeholder { /* Internet Explorer 10-11 */
        color: #004910 !important;
    }

    ::-ms-input-placeholder { /* Microsoft Edge */
        color: #004910 !important;
    }
</style>
<section id="loginForm">
    @using (Html.BeginForm(new { ReturnUrl = ViewBag.ReturnUrl }))
    {
        @Html.AntiForgeryToken()
        @Html.ValidationSummary(true)

    <fieldset class="m-login__form m-form">
        <div class="form-group m-form__group">
            @Html.TextBoxFor(m => m.UserName, new { @class = "form-control m-input", @placeholder = "Tên Tài Khoản" })
            @Html.ValidationMessageFor(m => m.UserName)
        </div>
        <div class="form-group m-form__group">
            @Html.PasswordFor(m => m.Password, new { @class = "form-control m-input", @placeholder = "Mật Khẩu" })
            @Html.ValidationMessageFor(m => m.Password)
        </div>
        <div class="m-login__form-action">
            <input type="submit" class="btn btn-focus m-btn m-btn--pill m-btn--custom m-btn--air  m-login__btn" style="font-family:Arial;font-size:14px" value="Đăng Nhập" />
        </div>
    </fieldset>
    }
</section>



