﻿@model Report.Models.AddProfileModel
@{
    ViewBag.Title = "Thêm Profile";
}

<div class="m-content">

    <div class="row">
        <div class="col-md-12">
            <div class="m-portlet m-portlet--mobile" style="border-radius:10px">
                <div class="m-portlet__head" style="background-color: #10522B; border-radius: 10px 10px 0px 0px;border:2px solid white">
                    <div class="m-portlet__head-caption">
                        <div class="m-portlet__head-title">
                            <h3 class="m-portlet__head-text" style="color:white">
                                Thông Tin Nhân Viên
                            </h3>
                        </div>
                    </div>
                </div>
                <!--begin::Form-->
                <form class="m-form m-form--fit m-form--label-align-right">
                    <div class="m-portlet__body">
                        <div class="form-group1 m-form__group">
                            @Html.LabelFor(m => m.RegionProfile)
                            @Html.DisplayFor(m => m.RegionProfile)
                        </div>
                        <div class="form-group m-form__group">
                            @Html.LabelFor(m => m.ProjectCode)
                            @Html.TextBoxFor(m => m.ProjectCode, new { style = "width:100%" })
                        </div>
                        <div class="form-group m-form__group">
                            @Html.LabelFor(m => m.ProfileCode)
                            @Html.TextBoxFor(m => m.ProfileCode, new { style = "width:100%" })
                        </div>
                        <div class="form-group m-form__group">
                            @Html.LabelFor(m => m.ProfileName)
                            @Html.TextBoxFor(m => m.ProfileName, new { style = "width:100%" })
                        </div>
                        <div class="form-group m-form__group">
                            @Html.LabelFor(m => m.ProfilePhone)
                            @Html.TextBoxFor(m => m.ProfilePhone, new { style = "width:100%" })
                        </div>
                        <div class="form-group m-form__group">
                            @Html.LabelFor(m => m.Experience)
                            @Html.TextBoxFor(m => m.Experience, new { style = "width:100%" })
                        </div>
                        <div class="form-group m-form__group">
                            @Html.LabelFor(m => m.Pass)
                            @Html.TextBoxFor(m => m.Pass, new { style = "width:100%" })
                        </div>
                        <div class="form-group m-form__group">
                            <label for="exampleInputEmail1">Hình Ảnh</label>
                            <div></div>
                            <div class="custom-file">
                                <input type="file" class="custom-file-input" id="customFile">
                                <label class="custom-file-label" for="customFile">Chọn File</label>
                            </div>
                        </div>
                    </div>
                    <div class="m-portlet__foot m-portlet__foot--fit">
                        <div class="m-form__actions">
                            <button type="button" style="background-color: #10522B;color:white" class="btn btn-success" onclick="SaveProfile()">Lưu</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<div id='loadingmessage' style='display:none; text-align: -webkit-center;'>
    <img src="~/Images/process.gif" class="loader" />
</div>
<script>
    function SaveProfile() {
        debugger;

        if (document.getElementById("customFile").files.length == 0) {
            swal("", "Chọn file import!", "error");
        }
        else {

            var fileImport = document.getElementById("customFile").files[0];
            var _RegionProfile = $("#RegionProfile option:selected").val();
            var _ProfileCode = $("#ProfileCode").val();
            var _ProjectCode = $("#ProjectCode").val();
            var _ProfileName = $("#ProfileName").val();
            var _ProfilePhone = $("#ProfilePhone").val();
            var _Experience = $("#Experience").val();
            var _Pass = $("#Pass").val();
            if (_ProfileCode == "" || _ProfileName == "" || _RegionProfile == "0" || _Pass == "" || _ProjectCode == "") {
                alert("Vui Lòng Điền Thông Tin Đầy Đủ!");
            }
            else {
                $('#loading').css("display", "block");
                var formDataprofile = new FormData();
                formDataprofile.append("FileUpload", fileImport);
                formDataprofile.append("ProfileCode", _ProfileCode);
                formDataprofile.append("ProjectCode", _ProjectCode);
                formDataprofile.append("ProfileName", _ProfileName);
                formDataprofile.append("ProfilePhone", _ProfilePhone);
                formDataprofile.append("Experience", _Experience);
                formDataprofile.append("RegionProfile", _RegionProfile);
                formDataprofile.append("Pass", _Pass);
                $.ajax({
                    type: "POST",
                    url: "@Url.Action("Import", "AddProfile")",
                    data: formDataprofile,
                    dataType: 'html',
                    contentType: false,
                    processData: false,
                    success: function (data) {
                        alert(data);
                        $('#loading').css("display", "none");
                    }
                });
            }
        }
    }
</script>
