﻿@model Business.POSMSE
<div class="row">
    <div class="col-md-12">
        <div class="m-portlet m-portlet--mobile" style="border-radius:10px">
            <div class="m-portlet__head" style="background-color: #10522B; border-radius: 10px 10px 0px 0px;border:2px solid white">
                <div class="m-portlet__head-caption">
                    <div class="m-portlet__head-title">
                        <h3 class="m-portlet__head-text" style="color:white">
                            Nội Dung Tìm Kiếm
                        </h3>
                    </div>
                </div>
            </div>
            <form class="m-form m-form--fit m-form--label-align-right">
                <div class="m-portlet__body">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group m-form__group">
                                @Html.LabelFor(m => m.DatePOSM)
                                @Html.TextBoxFor(m => m.DatePOSM, "{0:dd/MM/yyyy}", new { style = "width:100%" })
                            </div>
                            <div class="form-group m-form__group">
                                @Html.LabelFor(m => m.DistrictAttendance)
                                @Html.DisplayFor(m => m.DistrictAttendance)
                            </div>
                        </div>
                        <div class="col-md-6">

                            <div class="form-group m-form__group">
                                @Html.LabelFor(m => m.RegionPOSM)
                                @Html.DisplayFor(m => m.RegionPOSM)
                            </div>
                            <div class="form-group m-form__group">
                                @Html.LabelFor(m => m.OutletPOSM)
                                @Html.DisplayFor(m => m.OutletPOSM)
                            </div>
                        </div>
                    </div>
                </div>
                <div class="m-portlet__foot m-portlet__foot--fit">
                    <div class="m-form__actions">
                        <button type="button" style="background-color: #10522B;color:white" class="btn btn-success" onclick="SearchPOSM()">Tìm kiếm</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
<script>
    $("#DatePOSM").datepicker({
        changeMonth: true,
        changeYear: true,
        dateFormat: 'dd/mm/yy'
    });
</script>
<script>
    $("#DistrictAttendance").change(function () {
        var selectedId = $("#DistrictAttendance").val();
        $.ajax({
            url: "@Url.Action("GetOutletForDistrict")",
            type: 'GET',
        data: { _DistrictID: selectedId},
        contentType: 'application/json; charset=utf-8',
        success: function (teamdailyse) {
            debugger; if (teamdailyse.ok == false) {
                window.location = teamdailyse.newurl;
            } else {
                $('#OutletPOSM option').remove();
                for (var i = 0; i < teamdailyse.length; i++) {
                    $("#OutletPOSM").append("<option value=" + " " + teamdailyse[i].ID + " " + ">" + teamdailyse[i].Text + "</option>");
                    $('#OutletPOSM').trigger("chosen:updated");
                }
            }
        }
    });
    });
    $("#RegionPOSM").change(function () {
        var selectedId = $("#RegionPOSM option:selected").text();
        $.ajax({
            url: "@Url.Action("GetOutletForRegion")",
            type: 'GET',
            data: { _RegionID: selectedId },
            contentType: 'application/json; charset=utf-8',
            success: function (teamdailyse) {
                debugger;
                if (teamdailyse.ok == false) {
                    window.location = teamdailyse.newurl;
                } else {
                    $('#OutletPOSM option').remove();
                    for (var i = 0; i < teamdailyse.length; i++) {
                        $("#OutletPOSM").append("<option value=" + " " + teamdailyse[i].ID + " " + ">" + teamdailyse[i].Text + "</option>");
                        $('#OutletPOSM').trigger("chosen:updated");
                    }
                }
            }
        });
        $.ajax({
            url: "@Url.Action("GetDistrictForRegion")",
            type: 'GET',
        data: { _RegionID: selectedId },
        contentType: 'application/json; charset=utf-8',
        success: function (teamdailyse2) {
            debugger;
            if (teamdailyse2.ok == false) {
                window.location = teamdailyse2.newurl;
            }
            else {
                $('#DistrictAttendance option').remove();
                for (var i = 0; i < teamdailyse2.length; i++) {
                    $("#DistrictAttendance").append("<option value=" + " " + teamdailyse2[i].ID + " " + ">" + teamdailyse2[i].Text + "</option>");
                    $('#DistrictAttendance').trigger("chosen:updated");
                }
            }
        }
     });
    });
    var x = 0;
    function SearchPOSM() {
        debugger
        var _DistrictAttendance = $("#DistrictAttendance").val();
        var _RegionPOSM = $("#RegionPOSM option:selected").text();
        var _DatePOSM = $("#DatePOSM").val();
        var _OutletPOSM = $("#OutletPOSM option:selected").val();
        $('#loading').css("display", "block");

        $.ajax({
            url: "@Url.Action("Search", "POSM")",
            type: 'GET',
            data: {_DistrictAttendance:_DistrictAttendance, _RegionPOSM: _RegionPOSM, _OutletPOSM: _OutletPOSM, _DatePOSM: _DatePOSM },
            contentType: 'application/json; charset=utf-8',
            datatype: 'html',
            success: function (result) {
                debugger;
                if (result.ok == false) {
                    window.location = result.newurl;
                }
                else {
                    $('#listposm').html(result);
                    $('#loading').css("display", "none");
                }
            }
        });
    }
</script>
