﻿@model List<Business.POSMEXT>
@{
    ViewBag.Title = "POSM";
}


<div>
    @{Html.RenderPartial("_Search", new Business.POSMSE());}
</div>

<div id='loadingmessage' style='display:none; text-align: -webkit-center;'>
    <img src="~/Images/process.gif"/>
</div>
<div id="listposm">
    @{Html.RenderPartial("_List",Model);}
</div>

