﻿@{
    Layout = null;
    string company = ViewBag.company;
    string code = ViewBag.code;
    ViewBag.Title = "Thông Tin Nhân Viên";
}
<style>
    .m-body {
        background-image: url(../../../assets/demo/demo2/media/img/logo/bg-3.jpg)!important;
    }
</style>
<div class="m-login__signin">
    <div class="m-login__logo">
        <a href="#">
            <img src="~/Images/logo1.png" style="width: 300px; display: block; margin: auto; margin-top:5%" />  @*<img src="../../../assets/app/media/img//logos/logo-1.png">*@
        </a>
    </div>
    <form id="form1" runat="server" align="center">
        <div class="container" style=" position: absolute;  top: 50%;  left: 50%;  transform: translate(-50%, -50%);">
            <div class="main" style="width: 400px; position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%);">

                <form id="form_id" method="post" name="myform">
                    <input type="password" style=" border-radius: 0px; border: 1px solid green; padding: 1.5rem 1.5rem; margin-top: 1.5rem; color: green;" name="password" id="password" class="form-control m-input" onkeypress="return runScript(event)" placeholder="Mật Khẩu" width="100px" />
                    <input type="button" value="Đăng Nhập" id="submit" onclick="validate();" style="color: white; font-family: Arial !important; font-size: 14px; display: inline-block; text-align: center; padding: 1.4rem 4rem; margin-top: 2.8rem; border-radius: inherit; background-color: #004910; border: 1px solid #004910 !important; box-shadow: 0 5px 10px 2px rgba(152,22,244,.19) !important; " />
                </form>
            </div>
            <div id="result" style="width: 400px; position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%);margin-top:5px;color:red">
                @{Html.RenderPartial("_Result");}
            </div>
        </div>
    </form>
</div>
<script src="~/assets/vendors/base/vendors.bundle.js"></script>
<script language="JavaScript">
    $('#logo').css("display", "none");
    function runScript(e) {
        //See notes about 'which' and 'key'
        if (e.keyCode == 13) {
            validate()
            return false;
        }
    }
    function validate() {

        var password = document.getElementById("password").value;
        if (password == null || password == "") {
            alert("Please enter the password.");
            return false;
        }
        debugger;
        $.ajax({

            url: "@Url.Action("LoginProfile")",
            type: 'POST',
            data: { _code: '@code', _company: '@company', _password: password },
            datatype: 'json',
            success: function (data) {
                if (data.Json["list3"] == "2") {
                    $('#result').html(data.Html[1]);
                    $('#ketqua').css("display", "block");
                    $('#password').val("");
                }
                else {
                    $('#profile').css("display", "block");
                    $('#profile').html(data.Html[0]);
                    $('#login3').html(data.Html[2]);
                    $('#ketqua').css("display", "none");
                    $('#login').css("display", "none");
                    $('#logo').css("display", "block");
                }

            },
            failure: function () {
                alert('Mật Khẩu Không Chính Xác!');
            }
        });
    }
</script>
