﻿@model List<Business.GiftChangeEXT>
@{
    List<Business.Gift> gift = ViewBag.gift;
    List<Business.Team_Outlet> oulteList = ViewBag.teams;
    List<Business.GiftChangeEXT> listsimple = ViewBag.GiftChangeEXT;
    int numbercolumn = @gift.ToList().Count;
}
<style>
    #wrap {
        overflow: auto;
        height: 500px;
    }

    /* CSS for demo */
    td {
      
        width: 300px;
    }
</style>
<div class="m-content" style="padding-top:0px;border-radius:10px">
    <div class="m-portlet m-portlet--mobile" style="border-radius:10px">
        <div class="m-portlet__head" style="background-color: #10522B; border-radius: 10px 10px 0px 0px;border:2px solid white">
            <div class="m-portlet__head-caption">
                <div class="m-portlet__head-title">
                    <h3 class="m-portlet__head-text" style="color:white">
                        Danh Sách Đề Nghị
                    </h3>
                </div>
            </div>
        </div>
        <div class="m-portlet__body" style="overflow: auto; padding: 0px !important; " id="wrap">
            <table class="table table-striped" id="m_table_stocksaleoffer">
                <thead>
                    <tr class="active" style="color: white; background-color: #10522B; text-align: center">
                        <th rowspan="3" style="border: 1px solid white; width: 100px"><div style="width: 50px">Vùng</div></th>
                        <th rowspan="3" style="border: 1px solid white; width: 200px"><div style="width: 200px">Siêu thị</div></th>
                        <th rowspan="3" style="border: 1px solid white"><div style="width: 100px">Tỉnh/Thành</div></th>
                        <th colspan="@numbercolumn" style="border: 1px solid white">Quà</th>
                    </tr>
                    <tr style="color: white; background-color: #10522B; color: white; text-align: center">
                        @{foreach (var e in gift)
                        {

                            <th style=" border: solid 1px white">@e.GiftName</th>
                        }
                        }
                    </tr>
                    <tr style="color: white; background-color: white; text-align: center">
                        @{foreach (var e in gift)
                        {
                            <th style="color: black; border: solid 1px #eee"><img src="@e.FilePath" style="height: 30px" /></th>
                        }
                        }
                    </tr>
                </thead>
                <tbody style="border: solid 1px rgb(232, 228, 228); width: 1300px; background-color: white; color: black; width: 100%">
                    @{
                         <tr>
                            <td style="background-color: white; border: solid 1px #808080" colspan="3">Tổng Cộng</td>
                            @foreach (var j in gift)
                            {
                                var _detailgift2 = listsimple.Where(p => p.GiftID == j.ID);
                                if (_detailgift2.Count() > 0)
                                {
                                    foreach (var v in _detailgift2)
                                    {
                                        if (j.ID == v.GiftID)
                                        {
                                            <td style="border: solid 1px #808080; padding: 5px 10px; text-align: center;">@v.Number</td>
                                        }
                                    }

                                }
                                else
                                {

                                    <td style="border: solid 1px #808080; padding: 5px 10px; text-align: center;"></td>
                                }
                            }
                        </tr>
                        foreach (var item in oulteList)
                        {
                            string _messageError = String.Empty;
                            var simple = Model.Where(temp => temp.TeamOutletID == item.ID).ToList();
                            if (simple.Count() > 0)
                            {
                                <tr>
                                    @{
                                int number = simple.Count() + 1;
                                <td style="background-color: white; border: solid 1px #808080"> @item.Outlet.Region.Type</td>
                                        <td style="background-color: white; border: solid 1px #808080">@item.Team.TeamName</td>
                                        <td style="background-color: white; border: solid 1px #808080"> @item.Outlet.City </td>
                                for (int i = 0; i < gift.Count(); i++)
                                {
                                    var _detailgift = simple.Where(p => p.GiftID == gift[i].ID);
                                    if (_detailgift.Count() > 0)
                                    {
                                        foreach (var z in _detailgift)
                                        {
                                            if (gift[i].ID == z.GiftID)
                                            {
                                                <td style="border: solid 1px #808080; padding: 5px 10px; text-align: center;">@z.Number</td>
                                            }
                                        }

                                    }
                                    else
                                    {

                                        <td style="border: solid 1px #808080; padding: 5px 10px; text-align: center;"></td>
                                    }
                                }
                                    }
                                </tr>
                            }
                            else
                            {
                                <tr>
                                    <td style="background-color: white; border: solid 1px #808080">@item.Outlet.Region.Type</td>
                                    <td style="background-color: white; border: solid 1px #808080">@item.Team.TeamName</td>
                                    <td style="background-color: white; border: solid 1px #808080"> @item.Outlet.City </td>
                                    @foreach (var x in gift)
                                    {
                                        <td style="border: solid 1px #808080"></td>
                                    }
                                </tr>
                            }
                        }
                       
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>
<div style="float: right; margin-top: 1%">
    @using (Html.BeginForm("ExportExcel", "ReportGift"))
    {
        <button type="submit" style="background-image: url(./Images/excel.png); background-size: cover; width: 40px; height: 40px"></button>
    }
</div>
<script>
    function UpdateStock(idoutlet, date) {
        debugger;
        $.ajax({
            type: "GET",
            url: '@Url.Action("_UpdateStock")',
            data: { _OutletID: idoutlet, _DateStock: date },
            success: function (data) {
                $('#myModal').empty();
                $('#myModal').append(data);
                $('#myModal').modal('show');
            }
        });
    }
</script>

<script>
    document.getElementById("wrap").addEventListener("scroll", function () {
        var translate = "translate(0," + this.scrollTop + "px)";
        this.querySelector("thead").style.transform = translate;
        this.querySelector("th").style.border = 'border: solid 1px #808080';
    });
</script>