﻿@{
    ViewBag.Title = "AddProfileDiscipline";
}

<div class="modal-dialog" role="document">
    <div class="modal-content">
        <div class="modal-header" style="background-color:green">
            <h5 class="modal-title" id="exampleModalLabel" style="color: white">THÊM KỶ LUẬT NHÂN VIÊN</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close" id="close-modal">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="modal-body">
            <div class="row" style="background-color: #10522b; color: white">
                <p>Tiêu Đề</p>

            </div>
            <div class="row" style="background-color: #949599; color:white">
                <textarea name="TitleDiscipline" id="TitleDiscipline" style="width:100%" />
            </div>
            <div class="row" style="background-color: #10522b; color: white">
                <p>Nội Dung</p>

            </div>
            <div class="row" style="background-color: #949599; color:white">
                <textarea name="Discipline" id="Discipline" style="width:100%" />
            </div>
            <input type="file" name="file" id="upldFile" required="required" multiple="multiple" />
            <div class="modal-footer">
                <button type="button" style="background-color: #10522B;color:white" data-dismiss="modal" id="close-modal">HỦY</button>
                <button type="button" style="background-color: #10522B;color:white" id="close-modal" onclick="AddDiscipline()">XÁC NHẬN</button>
            </div>
        </div>
    </div>
</div>
<script>
    function getCheckedBoxes(chkboxName) {
        var checkboxes = document.getElementsByName(chkboxName);
        var checkboxesChecked = [];
        // loop over them all
        for (var i = 0; i < checkboxes.length; i++) {
            // And stick the checked ones onto an array...
            if (checkboxes[i].checked) {
                checkboxesChecked.push(checkboxes[i].value);
            }
        }
        // Return the array if it is non-empty, or null
        return checkboxesChecked.length > 0 ? checkboxesChecked : null;
    }

    // Call as

    function AddDiscipline(_ProfileID) {
        debugger;
        var fileImport = document.getElementById("upldFile").files[0];
        var _description = $("#Discipline").val();
        var _TitleDiscipline = $("#TitleDiscipline").val();
        var formDatas = new FormData();
        formDatas.append("FileUpload", fileImport);
        formDatas.append("Discipline", _description);
        formDatas.append("TitleDiscipline", _TitleDiscipline);
        var pimage = formDatas.get("FileUpload");
        if (pimage.length != 9) {
            if (_description != "" && TitleDiscipline != "") {

                $('#myModal').modal('hide');
                $('#loading').css("display", "block");
                $.ajax({
                    url: "@Url.Action("AddNew", "Profile")",
                    type: 'POST',
                    data: formDatas,
                    cache: false,
                    contentType: false,
                    processData: false,
                    success: function (result) {
                        debugger; if (result.ok == false) {
                            window.location = result.newurl;
                        }
                        else {
                            //$('#listprofiledetail').html(result);
                            alert("Thành Công!");
                            $('#loading').css("display", "none");
                        }

                    }
                });
            }
            else {
                alert("Vui Lòng Nhập Đầy Đủ Thông Tin Trước Khi Lưu!")
            }
        }
        else {
            alert("Vui Lòng Nhập File Trước Khi Lưu!")
        }
    }
</script>
