﻿@model Business.ProfileEXT
@{
    ViewBag.Title = "Image";
}
<!--begin::Modal-->
<div class="modal-dialog" role="document">
    <div class="modal-content">
        <div class="modal-header" style="background-color:green">
            <h5 class="modal-title" id="exampleModalLabel" style="color: white">THÔNG TIN NHÂN VIÊN</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close" id="close-modal">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="modal-body">
            <div class="row">
                <div class="col-lg-6">
                    <img src="@Model.Avatar" class="mySlides" style="width:200px">
                </div>
                <div class="col-lg-6">
                    <div class="col-md-12">
                        <span>Mã Số :</span> <span style="color:green;font-size:14px">  @Model.ProfileCode</span>
                    </div>
                    <div class="col-md-12">
                        <span>Họ và Tên :</span> <span style="color: green; font-size: 14px">  @Model.ProfileName</span>
                    </div>
                    <div class="col-md-12">
                        <span>Số ĐT :</span> <span style="color: green; font-size: 14px">  @Model.Phone</span>
                    </div>
                    <div class="col-md-12">
                        <span>Địa Chỉ :</span> <span style="color: green; font-size: 14px">  @Model.Address</span>
                    </div>
                    <div class="col-md-12">
                        <span>Mức Kỷ Luật :</span> <span style="color: red; font-size: 14px"> @Model.Discipline</span>
                    </div>
                </div>

            </div>
            <div class="modal-footer">
                <button type="button" style="background-color: #10522B;color:white" data-dismiss="modal" id="close-modal">Close</button>
            </div>
        </div>
    </div>
</div>
