﻿
@{
    ViewBag.Title = "_ImageGift";
}

<div class="modal-dialog" role="document">
    <div class="modal-content">
        <div class="modal-header" style="background-color:green">
            <h5 class="modal-title" id="exampleModalLabel" style="color: white">HÌNH KHÁCH HÀNG</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close" id="close-modal">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="modal-body">
            <div class="w3-content w3-display-container">
                <img src="@ViewBag.filepath" style="height:320px;width:100%" />
            </div>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal" id="close-modal">Close</button>
        </div>
    </div>
</div>


