﻿@model Business.CustomerSE
@{
    Layout = null;
}

<div class="m-content">

    <div class="row">
        <div class="col-md-12">
            <div class="m-portlet m-portlet--mobile" style="border-radius:10px">
                <div class="m-portlet__head" style="background-color: #10522B; border-radius: 10px 10px 0px 0px;border:2px solid white">
                    <div class="m-portlet__head-caption">
                        <div class="m-portlet__head-title">
                            <h3 class="m-portlet__head-text" style="color:white">
                                Nội Dung Tìm Kiếm
                            </h3>
                        </div>
                    </div>
                </div>
                <form class="m-form m-form--fit m-form--label-align-right">

                    <div class="m-portlet__body">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group m-form__group">
                                    @Html.LabelFor(m => m.DateFromCustomerSE)
                                    @Html.TextBoxFor(m => m.DateFromCustomerSE, "{0:dd/MM/yyyy}", new { style = "width:100%" })
                                </div>
                                <div class="form-group m-form__group">
                                    @Html.LabelFor(m => m.RegionCustomerSE)
                                    @Html.DisplayFor(m => m.RegionCustomerSE)
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group m-form__group">
                                    @Html.LabelFor(m => m.DateToCustomerSE)
                                    @Html.TextBoxFor(m => m.DateToCustomerSE, "{0:dd/MM/yyyy}", new { style = "width:100%" })
                                </div>

                                <div class="form-group m-form__group">
                                    @Html.LabelFor(m => m.OutletCustomerSE)
                                    @Html.DisplayFor(m => m.OutletCustomerSE)
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="m-portlet__foot m-portlet__foot--fit">
                        <div class="m-form__actions">
                            <button type="button" style="background-color: #10522B;color:white" class="btn btn-success" onclick="SearchCustomer()">Tìm Kiếm</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<script>
    $("#DateFromCustomerSE").datepicker({
        changeMonth: true,
        changeYear: true,
        dateFormat: 'dd/mm/yy'
    });
    $("#DateToCustomerSE").datepicker({
        changeMonth: true,
        changeYear: true,
        dateFormat: 'dd/mm/yy'
    });
</script>
<script>

    $("#RegionCustomerSE").change(function () {
        var selectedId = $("#RegionCustomerSE option:selected").text();
        $.ajax({
            url: "@Url.Action("GetOutletForRegion")",
            type: 'GET',
            data: { _RegionID: selectedId },
            contentType: 'application/json; charset=utf-8',
            success: function (teamdailyse) {
                if (teamdailyse.ok == false) {
                    window.location = teamdailyse.newurl;
                }
                else {
                    debugger;
                    $('#OutletCustomerSE option').remove();
                    for (var i = 0; i < teamdailyse.length; i++) {
                        $("#OutletCustomerSE").append("<option value=" + " " + teamdailyse[i].ID + " " + ">" + teamdailyse[i].Text + "</option>");
                        $('#OutletCustomerSE').trigger("chosen:updated");
                    }
                }
            }
        });
    });
    var x = 0;
    function SearchCustomer() {
        debugger
        var _RegionCustomerSE = $("#RegionCustomerSE option:selected").text();
        var _OutletCustomerSE = $("#OutletCustomerSE").val();
        var _DateToCustomerSE = $("#DateToCustomerSE").val();
        var _DateFromCustomerSE = $("#DateFromCustomerSE").val();
        $('#loading').css("display", "block");

        $.ajax({
            url: "@Url.Action("Search", "Customer")",
            type: 'GET',
            data: { _RegionCustomerSE: _RegionCustomerSE, _OutletCustomerSE: _OutletCustomerSE, _DateToCustomerSE: _DateToCustomerSE, _DateFromCustomerSE: _DateFromCustomerSE },
            contentType: 'application/json; charset=utf-8',
            datatype: 'html',
            success: function (result) {
                debugger; if (result.ok == false) {
                    window.location = result.newurl;
                }
                else {
                    $('#listCustomer').html(result);
                    $('#loading').css("display", "none");
                }

            }
        });
    }
</script>
