﻿@model List<Business.Image>
@{
    Layout = null;
    ViewBag.Title = "Image";
}
<center>
    <div class="modal-content" style="overflow:hidden;color:green;background-color:green">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true" style="color: white">CLOSE</button>
            <h4 class="modal-title" style="color:red">SUP Image</h4>
        </div>
        @if (@Model.Count() == 0 || @Model == null)
        {
            <div class="modal-body" style="height:400px;width:100%;margin-top:2%">
                <h4 style="color:red">No Image</h4>
            </div>
        }
        else
        {
            <div class="modal-body" style="height:520px;width:100%;margin-top:2%;overflow:hidden">
                <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
                    <!-- Indicators -->
                    <ol class="carousel-indicators">
                        @for (int i = 0; i < @Model.Count; i++)
                        {
                            <li data-target="#carousel-example-generic" data-slide-to="@i"></li>
                        }
                    </ol>
                    <!-- Wrapper for slides -->
                    <div class="carousel-inner">
                        <div class="item active" style="height:520px!important;width:auto;">
                            <center><img src="@Model[0].FilePath" style="height:520px;width:100%;margin-left:0px!important" class="thumbnails"></center>

                        </div>
                        @for (int i = 1; i < Model.Count; i++)
                        {
                            <div class="item" style="height:520px!important">
                                <center><img src="@Model[i].FilePath" style="height:520px;width:100%;margin-left:0px!important"></center>

                            </div>
                        }
                    </div>
                    <!-- Controls -->
                    <a class="left carousel-control" href="#carousel-example-generic" data-slide="prev">
                        <span class="glyphicon glyphicon-chevron-left"></span>
                    </a>
                    <a class="right carousel-control" href="#carousel-example-generic" data-slide="next">
                        <span class="glyphicon glyphicon-chevron-right"></span>
                    </a>
                </div>
            </div>
        }

    </div>
</center>
