﻿@model  List<Business.ReportDataEXT>
@{
    List<Business.CodeDetail> typeimage = ViewBag.typeimagesup;
}
@if (Model.Count() == 0 || Model == null)
{
    <h5 style="color:white">CHƯA CÓ HOẠT ĐỘNG NÀO TRONG NGÀY</h5>
}
else
{
    <div class="m-content" style="padding-top:0px;border-radius:10px">
        <div class="m-portlet m-portlet--mobile" style="border-radius:10px">
            <div class="m-portlet__head" style="background-color: #10522B; border-radius: 10px 10px 0px 0px;border:2px solid white">
                <div class="m-portlet__head-caption">
                    <div class="m-portlet__head-title">
                        <h3 class="m-portlet__head-text" style="color:white">
                            Danh Sách Hoạt Động
                        </h3>
                    </div>
                </div>
            </div>
            @foreach (var u in Model)
    {


                <div class="m-portlet__body" style="overflow:auto">
                    <table class="table table-striped" border="1" style="border: solid 1px white; width: 100%; overflow: auto">
                        <thead>
                            <tr class="active" style="color: white; background-color: green">

                            <tr style="background-color: #10522B">
                                @{
                                    <td style="color: white">
                                        Tên Chợ :@u.OutletName <br />
                                        Ngày Thực Hiện :@u.datetime.ToString("dd/MM/yyyy")
                                    </td>
                                    <td style="color: white;">
                                        Chấm Công Vào : <a style="color: wheat!important"> @u.timein</a><br />
                                        Vị Trí :<small>
                                            <em>
                                                Location : <a class="position" style="background-color: transparent !important" href="@_MyHelper.RenderLinkForGPS(@u.latin, @u.longin)" target="_blank">
                                                    <img src="~/Images/map.png" style="width: 25px; height: 25px; margin-left: 5%; box-sizing: border-box;" />
                                                </a>
                                            </em>
                                        </small>
                                        <br />
                                        Chấm Công Ra :<a style="color: wheat!important">
                                            @u.timeout
                                        </a><br />
                                        Vị Trí :<small>
                                            <em>
                                                Location : <a class="position" style="background-color: transparent !important" href="@_MyHelper.RenderLinkForGPS(@u.latout, @u.longout)" target=" _blank">
                                                    <img src="~/Images/map.png" style="width: 25px; height: 25px; margin-left: 5%; box-sizing: border-box;" />
                                                </a>
                                            </em>
                                        </small>
                                    </td>
                                }
                            </tr>
                        </thead>
                        <tbody style="border: solid 1px rgb(232, 228, 228); width: 1300px; background-color: white; color: black; width: 100%">

                            <tr>
                                @{ if (u.list.Count() > 0)
                                 {
                                    <td style="color: black" colspan="2">
                                        <div class="row">
                                            @foreach (var item in typeimage)
                                            {
                                                var match = u.list.ToList().Where(p => p.ImageType == int.Parse(item.Value));
                                                if (match.ToList().Count() > 0)
                                                {

                                                    <br />
                                                    <div class="col-md-3">
                                                        @foreach (var imageExt in match)
                                                        {
                                                            <h5 style="color:white">@item.Name - Số Lượng : <span style="color:orange">@match.Count() </span></h5>
                                                            <ul>
                                                                <div class="containerimage">
                                                                    <li><a href="#"><img src="@imageExt.Image.FilePath" style="width:150px;height:150px" /></a></li>
                                                                    <div class="text-block" style="position: absolute; bottom: -170px; color: white;">
                                                                        <h4>
                                                                            <a class="position" style="background-color:transparent!important" href="@_MyHelper.RenderLinkForGPS(@imageExt.Image.LatGPS, @imageExt.Image.LongGPS)" target="_blank">
                                                                                <img src="~/Images/map.png" style="width: 25px; height: 25px; margin-left: 5%; box-sizing: border-box;" />
                                                                            </a>
                                                                        </h4>
                                                                        <p>@imageExt.Image.DeviceDateTime.ToString("HH:mm")</p>
                                                                    </div>
                                                                </div>
                                                            </ul>
                                                        }
                                                    </div>
                                                }

                                            }
                                        </div>

                                    </td>
                                 }
                                }
                            </tr>

                        </tbody>
                        <tfoot>
                        </tfoot>
                    </table>
                </div>
    }
            
        </div>
    </div>
}

    <script>
        function GetIamge(idimage) {

            debugger;
            $.ajax({
                type: "GET",
                url: '@Url.Action("_Image")',
                data: { idimage: idimage },
                datatype: "image/jpg",
                success: function (data) {
                    $('#myModal').empty();
                    $('#myModal').append(data);
                    $('#myModal').modal('show');
                }
            });
        }

        function GetIamgeAttendence(idimages) {

            debugger;
            $.ajax({
                type: "GET",
                url: '@Url.Action("_Image2")',
                data: { idimages: idimages },
                datatype: "image/jpg",
                success: function (data) {
                    $('#myModal').empty();
                    $('#myModal').append(data);
                    $('#myModal').modal('show');
                }
            });
        }
    </script>