﻿@model List<Business.ReportDataEXT>

@{
    ViewBag.Title = "Report Sup";
}
<div>
    @{Html.RenderPartial("_Search", new Business.ReportDataSE());}
</div>
<div id='loadingmessage' style='display:none; text-align: -webkit-center;'>
    <img src="~/Images/process.gif"/>
</div>
<div id="listreportdata" style="margin-top:1%">
    @{Html.RenderPartial("_List", Model);}
</div>

