﻿@model Business.StockSE

<div class="m-content">
    <div class="row">
        <div class="col-md-12">
            <div class="m-portlet m-portlet--mobile" style="border-radius:10px">
                <div class="m-portlet__head" style="background-color: #10522B; border-radius: 10px 10px 0px 0px;border:2px solid white">
                    <div class="m-portlet__head-caption">
                        <div class="m-portlet__head-title">
                            <h3 class="m-portlet__head-text" style="color:white">
                                Nội Dung Tìm Kiếm
                            </h3>
                        </div>
                    </div>
                </div>
                <form class="m-form m-form--fit m-form--label-align-right">
                    <div class="m-portlet__body">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group m-form__group">
                                    @Html.LabelFor(m => m.DateStockSE)
                                    @Html.TextBoxFor(m => m.DateStockSE, "{0:dd/MM/yyyy}", new { style = "width:100%" })
                                </div>
                                <div class="form-group m-form__group">
                                    @Html.LabelFor(m => m.OutletStockSE)
                                    @Html.DisplayFor(m => m.OutletStockSE)
                                </div>

                            </div>
                            <div class="col-md-6">
                                <div class="form-group m-form__group">
                                    @Html.LabelFor(m => m.RegionStockSE)
                                    @Html.DisplayFor(m => m.RegionStockSE)
                                </div>
                                <div class="form-group m-form__group">
                                    @Html.LabelFor(m => m.StatusStockSE)
                                    @Html.DisplayFor(m => m.StatusStockSE)
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="m-portlet__foot m-portlet__foot--fit">
                        <div class="m-form__actions">
                            <button type="button" style="background-color: #10522B;color:white" class="btn btn-success" onclick="SearchStock()">Tìm Kiếm</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<script>
    $("#DateStockSE").datepicker({
        changeMonth: true,
        changeYear: true,
        dateFormat: 'dd/mm/yy'
    });
</script>
<script>

     $("#RegionStockSE").change(function () {
         var selectedId = $("#RegionStockSE option:selected").text();
        $.ajax({
            url: "@Url.Action("GetOutletForRegion")",
            type: 'GET',
            data: { _RegionID: selectedId },
            contentType: 'application/json; charset=utf-8',
            success: function (teamdailyse) {
                debugger; if (teamdailyse.ok == false) {
                    window.location = teamdailyse.newurl;
                } else {
                    $('#OutletStockSE option').remove();
                    for (var i = 0; i < teamdailyse.length; i++) {
                        $("#OutletStockSE").append("<option value=" + " " + teamdailyse[i].ID + " " + ">" + teamdailyse[i].Text + "</option>");
                        $('#OutletStockSE').trigger("chosen:updated");
                    }
                }
            }
        });
    });
    var x = 0;
    function SearchStock() {
        debugger
        var _RegionStockSE = $("#RegionStockSE option:selected").text();
        var _DateStockSE = $("#DateStockSE").val();
        var _OutletStockSE = $("#OutletStockSE option:selected").val();
        var _StatusStockSE = $("#StatusStockSE option:selected").val();
        $('#loading').css("display", "block");
        $.ajax({
            url: "@Url.Action("Search", "StockManagerForSale")",
            type: 'GET',
            data: { _RegionStockSE: _RegionStockSE, _OutletStockSE: _OutletStockSE, _StatusStockSE: _StatusStockSE, _DateStockSE: _DateStockSE },
            contentType: 'application/json; charset=utf-8',
            datatype: 'html',
            success: function (result) {
                if (result.ok == false) {
                    window.location = result.newurl;
                } else {
                    debugger;
                    $('#liststockforsale').html(result);
                    $('#loading').css("display", "none");
                }
            }
        });
    }
</script>

